# Lab 4 Data Cleaning

Theo Mahlum, Big Data & analytics, 10-29-2019

## Introduction

    In this lab, I will first be choosing the two datasets I want to clean upon completing a full exploration of the data. Ultimately I chose to clean the attendance data and the Boing Boing Candy Data, because I think these datasets would be particularly fascinating to explore. 
    For the Attendance Data, I want to get rid of all my null values, reset the header to format it correctly and get rid of any information I do not need. This way I can have correctly formatted and compelete numerical data with no gaps. If I were to analyze this Attendance data I would want to find mean values for each of the states in correspondence to the features. To achieve this I would need to have cleaned and complete data for each of the 50 States, The District of Columbia, and The United States as a whole to set a benchmark. 
    For the Boing Boing Candy Data, I would want to get rid of all my null values and all of the answers from people who submitted null values because I want each candy type represented fairly. This is ultimately because if I were to analyze the Boing Boing Candy Data, I would want to compare consumer opinions of the candies to see which is people's favorite, if one candy had more total votes than others, it would skew the data towards that candy because it would recieve greater representation. I would additionally want to get rid of any features that are not real types of candies (that includes deleting any fake types of candies), and rename any duplicates in addition to simplifying all of the features.

In [1]:
# Import all the modules I want to use in this homework 
import math as m
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

## Dataset Exploration

#### Attendance

Here we will first explore the attendance data sheet to find out if it is a viable dataset for our purposes. To do this we must first read in our dataset as "dfa"

In [2]:
dfa = pd.read_excel('attendance.xls')

Next we want to find out what the data set is of, a great way of doing this is by printing out the first five rows of the dataset and finding its features.

In [3]:
dfa.head()

,"Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,"Total elementary, secondary, and combined elem...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Elementary schools,NaN,NaN,NaN,Secondary schools,NaN,NaN,NaN
1,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,Average days in school year,NaN,Average hours in school year,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN,ADA as percent of enrollment,NaN,Average hours in school day,NaN
2,1,2,NaN,3,NaN,4,NaN,5,NaN,6,NaN,7,NaN,8,NaN,9,NaN
3,United States ........,93.079,0.218555,6.6447,0.017650,180,0.142993,1192.65,3.0859,94.005,0.269369,6.65606,0.015998,91.1181,0.432223,6.59439,0.040308
4,Alabama .................,93.8124,1.237261,7.02852,0.065621,180,0.755110,1266.62,12.3343,93.7764,1.839154,7.03847,0.075944,94.561,0.37928,7.13724,0.17312

Ultimately what we find here is that the heading for the column is split amongst the first 4 rows of the dataset (including what the computer currently thinks is the header). This is ultimately signifying a formatting issue.

Our next step is to find out how much numerical data there is. The best way to do this is through the describe method.

In [4]:
dfa.describe()

,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,1.371106,0.076796,0.796034,13.881554,1.623456,0.071084
std,0.925688,0.041924,1.006447,6.392108,1.260721,0.024009
min,0.218555,0.017650,0.048457,3.085900,0.240592,0.015998
25%,0.593016,0.054336,0.219334,10.289525,0.462265,0.054259
50%,1.252266,0.068159,0.440609,12.603650,1.581863,0.068527
75%,1.797087,0.085597,1.000141,15.173500,2.414884,0.090428
max,4.577376,0.286143,6.237453,42.261000,4.498027,0.126844

What we have learned is that there are 52 cells of usable data for at least 6 of our features. This is very important to know.

I next want to know if there is missing data, this is a multi-step process.

The first step is to use the info function to see how many non-null values are in each feature, this will help us know where missing data might exist.

In [5]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 17 columns):
Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08    57 non-null object
Unnamed: 1                                                                                                                                                                       55 non-null object
Unnamed: 2                                                                                                                                                                       52 non-null float64
Unnamed: 3                                                                                                                                                                       54 non-null object
Unnamed: 4                                                                                                                                                                       52 non-null float64
Unnamed: 5                                                                                                                                                                       54 non-null object
Unnamed: 6                                                                                                                                                                       52 non-null float64
Unnamed: 7                                                                                                                                                                       54 non-null object
Unnamed: 8                                                                                                                                                                       52 non-null float64
Unnamed: 9                                                                                                                                                                       55 non-null object
Unnamed: 10                                                                                                                                                                      52 non-null float64
Unnamed: 11                                                                                                                                                                      54 non-null object
Unnamed: 12                                                                                                                                                                      52 non-null float64
Unnamed: 13                                                                                                                                                                      55 non-null object
Unnamed: 14                                                                                                                                                                      52 non-null object
Unnamed: 15                                                                                                                                                                      54 non-null object
Unnamed: 16                                                                                                                                                                      52 non-null object
dtypes: float64(6), object(11)
memory usage: 9.2+ KB

We have learned that the minimum number of non-null values for each feature is 52, given there are 50 states in the United States it is likely that each state has complete data. This also tells us that some cells have non-numerical data that is also non-null given our previous step told us each feature has only 52 numerical values, but here some features have more than 52. We also now know that some features have null values.

Our next step is to find out how many null values there are in each feature.

In [6]:
missing_data_a = dfa.isnull().sum()
missing_data_a

Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08    11
Unnamed: 1                                                                                                                                                                       13
Unnamed: 2                                                                                                                                                                       16
Unnamed: 3                                                                                                                                                                       14
Unnamed: 4                                                                                                                                                                       16
Unnamed: 5                                                                                                                                                                       14
Unnamed: 6                                                                                                                                                                       16
Unnamed: 7                                                                                                                                                                       14
Unnamed: 8                                                                                                                                                                       16
Unnamed: 9                                                                                                                                                                       13
Unnamed: 10                                                                                                                                                                      16
Unnamed: 11                                                                                                                                                                      14
Unnamed: 12                                                                                                                                                                      16
Unnamed: 13                                                                                                                                                                      13
Unnamed: 14                                                                                                                                                                      16
Unnamed: 15                                                                                                                                                                      14
Unnamed: 16                                                                                                                                                                      16
dtype: int64

What this ultimately tells us is that there are different numbers of null values in each feature.

Ultimately, we can now answer the four questions: The columns make sense besides incorrect headers and null values. The values in the columns make sense and there is numerical data we can do analysis with. The values are on the right scale, given there is no particularly "right" scale in this case. Missing data does not seem to be a big problem, given the majority of missing data seems to be in categories that do not affect our data.

Through my data exploration process I have found that there are 9 actual features, with one being a potential index (the rest can be removed). This dataset also has 52 actual observations which are the 50 states in The United States, The United States, and The District of Columbia.

#### Sales

Here we will first explore the sales data sheet to find out if it is a viable dataset for our purposes. To do this we must first read in our dataset as "dfa".

In [7]:
dfs = pd.read_csv('sales.csv', encoding = 'ISO-8859-1')

Next we want to know what the dataset looks like as to get a better sense of the features.

In [8]:
dfs

,Unnamed: 0,event_id,primary_act_id,secondary_act_id,purch_party_lkup_id,event_name,primary_act_name,secondary_act_name,major_cat_name,minor_cat_name,...,edu_1st_indv_val,edu_2nd_indv_val,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,occpn_val,occpn_1st_val,occpn_2nd_val,dist_to_ven
0,1,abcaf1adb99a935fc661,43f0436b905bfa7c2eec,b85143bf51323b72e53c,7dfa56dd7d5956b17587,Xfinity Center Mansfield Premier Parking: Flor...,XFINITY Center Mansfield Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,6c56d7f08c95f2aa453c,1a3e9aecd0617706a794,f53529c5679ea6ca5a48,4f9e6fc637eaf7b736c2,Gorge Camping - dave matthews band - sept 3-7,Gorge Camping,Dave Matthews Band,MISC,CAMPING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0
2,3,c7ab4524a121f9d687d2,4b677c3f5bec71eec8d1,b85143bf51323b72e53c,6c2545703bd527a7144d,Dodge Theatre Adams Street Parking - benise,Parking Event,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,394cb493f893be9b9ed1,b1ccea01ad6ef8522796,b85143bf51323b72e53c,527d6b1eaffc69ddd882,Gexa Energy Pavilion Vip Parking : kid rock wi...,Gexa Energy Pavilion VIP Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,55b5f67e618557929f48,91c03a34b562436efa3c,b85143bf51323b72e53c,8bd62c394a35213bdf52,Premier Parking - motley crue,White River Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,79372bc1e7e14dfd3f82,a14232befff04be1e2f3,b85143bf51323b72e53c,8a03312852bd2a785f2c,Premier Parking - eric clapton - pnc bank arts...,PNC Bank Arts Center Holmdel Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4996,4997,f3b0de6a19e2a16e4fb1,83e5715f0ed3e13e6398,b2b558b1fe3efad19edb,f032fe520e8313bef880,Sublime With Rome / rebelution,Sublime with Rome,Rebelution,CONCERTS,ROCK/POP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4997,4998,7c9e2f6847a2dbe4ebff,9ea8ab40f58d18305ac8,b85143bf51323b72e53c,f270f4daa5c3dd61a8c5,Premier Parking : journey with heart and cheap...,Sleep Train Amphitheatre Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
4998,4999,7af1ccd9a3ec3b6cef1c,e274b5c11a2a63e00141,b85143bf51323b72e53c,55a61a5e0ceb8beee897,Premier Parking: Rascal Flatts,Umb Bank Pavilion St. Louis Premier Parking,NaN,MISC,PARKING,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4999,5000,802f4bf8026e38c2acf2,24c326bd80bd2c8c9e17,b22d584a2132b33e23e0,55e6e08d4b712243944d,Dropkick Murphys,Dropkick Murphys,Tiger Army,CONCERTS,ALTERNATIVE ROCK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Unfortunately, there are too many features to display, but it offers an important statistic on the bottom: there are 46 features in our dataset.

However, we still want to know what the features are:

In [9]:
print(dfs.columns.values)

['Unnamed: 0' 'event_id' 'primary_act_id' 'secondary_act_id'
 'purch_party_lkup_id' 'event_name' 'primary_act_name'
 'secondary_act_name' 'major_cat_name' 'minor_cat_name'
 'la_event_type_cat' 'event_disp_name' 'ticket_text'
 'tickets_purchased_qty' 'trans_face_val_amt' 'delivery_type_cd'
 'event_date_time' 'event_dt' 'presale_dt' 'onsale_dt'
 'sales_ord_create_dttm' 'sales_ord_tran_dt' 'print_dt' 'timezn_nm'
 'venue_city' 'venue_state' 'venue_postal_cd_sgmt_1' 'sales_platform_cd'
 'print_flg' 'la_valid_tkt_event_flg' 'fin_mkt_nm'
 'web_session_cookie_val' 'gndr_cd' 'age_yr' 'income_amt' 'edu_val'
 'edu_1st_indv_val' 'edu_2nd_indv_val' 'adults_in_hh_num' 'married_ind'
 'child_present_ind' 'home_owner_ind' 'occpn_val' 'occpn_1st_val'
 'occpn_2nd_val' 'dist_to_ven']

Now that we know what our columns are, we want to know what types of data are in these features, since I am mainly interested in statistical information I want to know what data is numerical.

In [10]:
dfs.describe()

,Unnamed: 0,tickets_purchased_qty,trans_face_val_amt,age_yr,income_amt,adults_in_hh_num,married_ind,child_present_ind,home_owner_ind,dist_to_ven
count,5000.000000,5000.00000,5000.000000,168.000000,154.000000,176.000000,157.000000,130.000000,138.000000,323.000000
mean,2500.500000,1.63900,77.077446,44.369048,86396.103896,2.579545,0.668790,0.561538,0.942029,158.188854
std,1443.520003,1.11361,123.864788,16.531067,58895.045547,1.490707,0.472155,0.498118,0.234540,395.678376
min,1.000000,1.00000,1.000000,18.000000,10000.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1250.750000,1.00000,20.000000,30.000000,45000.000000,1.000000,0.000000,0.000000,1.000000,12.000000
50%,2500.500000,1.00000,30.000000,44.000000,62500.000000,2.000000,1.000000,1.000000,1.000000,26.000000
75%,3750.250000,2.00000,85.000000,56.000000,87500.000000,4.000000,1.000000,1.000000,1.000000,77.500000
max,5000.000000,8.00000,1520.880000,94.000000,200000.000000,6.000000,1.000000,1.000000,1.000000,2548.000000

This has told us that our dataset has 10 features have statistically analyzable numerical data.

Our next step is to find missing data in our dataset.

In [11]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 46 columns):
Unnamed: 0                5000 non-null int64
event_id                  5000 non-null object
primary_act_id            5000 non-null object
secondary_act_id          5000 non-null object
purch_party_lkup_id       5000 non-null object
event_name                5000 non-null object
primary_act_name          5000 non-null object
secondary_act_name        1586 non-null object
major_cat_name            5000 non-null object
minor_cat_name            5000 non-null object
la_event_type_cat         5000 non-null object
event_disp_name           5000 non-null object
ticket_text               5000 non-null object
tickets_purchased_qty     5000 non-null int64
trans_face_val_amt        5000 non-null float64
delivery_type_cd          5000 non-null object
event_date_time           5000 non-null object
event_dt                  5000 non-null object
presale_dt                2108 non-null object
onsale_dt                 4899 non-null object
sales_ord_create_dttm     4996 non-null object
sales_ord_tran_dt         5000 non-null object
print_dt                  4576 non-null object
timezn_nm                 5000 non-null object
venue_city                5000 non-null object
venue_state               5000 non-null object
venue_postal_cd_sgmt_1    5000 non-null object
sales_platform_cd         2578 non-null object
print_flg                 5000 non-null object
la_valid_tkt_event_flg    5000 non-null object
fin_mkt_nm                5000 non-null object
web_session_cookie_val    5000 non-null object
gndr_cd                   177 non-null object
age_yr                    168 non-null float64
income_amt                154 non-null float64
edu_val                   139 non-null object
edu_1st_indv_val          112 non-null object
edu_2nd_indv_val          86 non-null object
adults_in_hh_num          176 non-null float64
married_ind               157 non-null float64
child_present_ind         130 non-null float64
home_owner_ind            138 non-null float64
occpn_val                 79 non-null object
occpn_1st_val             77 non-null object
occpn_2nd_val             63 non-null object
dist_to_ven               323 non-null float64
dtypes: float64(8), int64(2), object(36)
memory usage: 1.8+ MB

What we know from this is that the majority of our data is of type object, and that the datasets have at most 5000 non-null values.

We also know that our data has 46 features and 5000 observations for us to find analytics on. While, most of our data is non-numerical, we have several observations with numerical data for us to perform our studies on. Additional options include finding the count of repetition of non-numerical data.

Ultimately the dataset's formatting is correct, but its feature's names might be confusing to someone who does not understand the dataset, this could be changed. However, the majority of the data does make sense and I do not believe missing data will be much of a problem given the large quantity of non-null numerical data.

#### Boing-Boing Candy Data

Here we will first explore the Boing-Boing Candy data set to find out if it is a viable dataset for our purposes. To do this we must first read in our dataset as "dfb".

In [12]:
dfb = pd.read_excel('BOING-BOING-CANDY-HIERARCHY-2016-SURVEY-Responses.csv')

Now that we have read in our dataset, we want to find out what data we are working with, the best way to do this is to look at the first 5 rows of data.

In [69]:
dfb

index,100 Grand Bar,Black Jacks,Bonkers,Bottle Caps,Box'o'Raisins,Butterfinger,Cadbury Creme Eggs,Candy Corn,Caramellos,Chiclets,...,Sourpatch Kids,Starburst,Sweet Tarts,Swedish Fish,Tic Tacs,Three Musketeers,Toblerone,Trail Mix,Twix,York Peppermint Patties
0,JOY,MEH,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
1,MEH,JOY,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,JOY,JOY,MEH,JOY,JOY
2,JOY,MEH,MEH,JOY,DESPAIR,JOY,MEH,MEH,JOY,DESPAIR,...,MEH,MEH,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
3,JOY,MEH,MEH,DESPAIR,MEH,JOY,JOY,JOY,JOY,DESPAIR,...,MEH,JOY,JOY,JOY,DESPAIR,JOY,JOY,JOY,JOY,JOY
4,MEH,DESPAIR,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,MEH,DESPAIR,...,MEH,MEH,MEH,DESPAIR,MEH,JOY,JOY,MEH,JOY,MEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1251,JOY,MEH,MEH,MEH,MEH,JOY,JOY,MEH,JOY,MEH,...,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY
1252,JOY,MEH,MEH,JOY,MEH,JOY,MEH,MEH,MEH,JOY,...,MEH,MEH,JOY,JOY,JOY,JOY,MEH,MEH,JOY,JOY
1253,MEH,DESPAIR,DESPAIR,MEH,JOY,MEH,JOY,JOY,JOY,JOY,...,DESPAIR,JOY,JOY,JOY,JOY,JOY,MEH,JOY,JOY,JOY
1255,JOY,DESPAIR,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,DESPAIR,...,MEH,MEH,JOY,DESPAIR,DESPAIR,JOY,JOY,MEH,JOY,MEH
1258,JOY,JOY,MEH,JOY,MEH,JOY,JOY,JOY,JOY,JOY,...,MEH,MEH,MEH,JOY,MEH,JOY,JOY,MEH,JOY,JOY

Using this code we know that we have 123 features and that the data is primarily string or object.

Our next step is to find out what our features actually are so that we know what the dataset is exploring.

In [14]:
list(dfb.columns)

['Timestamp',
 'Are you going actually going trick or treating yourself?',
 'Your gender:',
 'How old are you?',
 'Which country do you live in?',
 'Which state, province, county do you live in?',
 ' [100 Grand Bar]',
 ' [Anonymous brown globs that come in black and orange wrappers]',
 ' [Any full-sized candy bar]',
 ' [Black Jacks]',
 ' [Bonkers (the candy)]',
 ' [Bonkers (the board game)]',
 ' [Bottle Caps]',
 " [Box'o'Raisins]",
 ' [Broken glow stick]',
 ' [Butterfinger]',
 ' [Cadbury Creme Eggs]',
 ' [Candy Corn]',
 ' [Candy that is clearly just the stuff given out for free at restaurants]',
 ' [Caramellos]',
 ' [Cash, or other forms of legal tender]',
 ' [Chardonnay]',
 ' [Chick-o-Sticks (we don’t know what that is)]',
 ' [Chiclets]',
 ' [Coffee Crisp]',
 ' [Creepy Religious comics/Chick Tracts]',
 ' [Dental paraphenalia]',
 ' [Dots]',
 ' [Dove Bars]',
 ' [Fuzzy Peaches]',
 ' [Generic Brand Acetaminophen]',
 ' [Glow sticks]',
 ' [Goo Goo Clusters]',
 " [Good N' Plenty]",
 ' [Gum from baseball cards]',
 ' [Gummy Bears straight up]',
 ' [Hard Candy]',
 ' [Healthy Fruit]',
 ' [Heath Bar]',
 " [Hershey's Dark Chocolate]",
 ' [Hershey’s Milk Chocolate]',
 " [Hershey's Kisses]",
 ' [Hugs (actual physical hugs)]',
 ' [Jolly Rancher (bad flavor)]',
 ' [Jolly Ranchers (good flavor)]',
 ' [JoyJoy (Mit Iodine!)]',
 ' [Junior Mints]',
 ' [Senior Mints]',
 ' [Kale smoothie]',
 ' [Kinder Happy Hippo]',
 ' [Kit Kat]',
 ' [LaffyTaffy]',
 ' [LemonHeads]',
 ' [Licorice (not black)]',
 ' [Licorice (yes black)]',
 ' [Lindt Truffle]',
 ' [Lollipops]',
 ' [Mars]',
 ' [Mary Janes]',
 ' [Maynards]',
 ' [Mike and Ike]',
 ' [Milk Duds]',
 ' [Milky Way]',
 ' [Regular M&Ms]',
 ' [Peanut M&M’s]',
 " [Blue M&M's]",
 " [Red M&M's]",
 " [Third Party M&M's]",
 ' [Minibags of chips]',
 ' [Mint Kisses]',
 ' [Mint Juleps]',
 ' [Mr. Goodbar]',
 ' [Necco Wafers]',
 ' [Nerds]',
 ' [Nestle Crunch]',
 " [Now'n'Laters]",
 ' [Peeps]',
 ' [Pencils]',
 ' [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]',
 ' [Pixy Stix]',
 ' [Reese’s Peanut Butter Cups]',
 " [Reese's Pieces]",
 ' [Reggie Jackson Bar]',
 ' [Rolos]',
 ' [Skittles]',
 ' [Smarties (American)]',
 ' [Smarties (Commonwealth)]',
 ' [Snickers]',
 ' [Sourpatch Kids (i.e. abominations of nature)]',
 ' [Spotted Dick]',
 ' [Starburst]',
 ' [Sweet Tarts]',
 ' [Swedish Fish]',
 ' [Sweetums (a friend to diabetes)]',
 ' [Tic Tacs]',
 ' [Those odd marshmallow circus peanut things]',
 ' [Three Musketeers]',
 ' [Tolberone something or other]',
 ' [Trail Mix]',
 ' [Twix]',
 ' [Vials of pure high fructose corn syrup, for main-lining into your vein]',
 ' [Vicodin]',
 ' [Whatchamacallit Bars]',
 ' [White Bread]',
 ' [Whole Wheat anything]',
 ' [York Peppermint Patties]',
 'Please list any items not included above that give you JOY.',
 'Please list any items not included above that give you DESPAIR.',
 'Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.',
 'Guess the number of mints in my hand.',
 'Betty or Veronica?',
 '"That dress* that went viral a few years back - when I first saw it, it was ________"',
 'What is your favourite font?',
 'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]',
 'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]',
 'Which day do you prefer, Friday or Sunday?',
 'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?',
 'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).',
 ' [York Peppermint Patties] Ignore']

Given we now know what the dataset is exploring, its important to look into what types of data we are working with. Lets start by finding out if there is numerical data.

In [15]:
dfb.describe()

        [York Peppermint Patties] Ignore
count                                0.0
mean                                 NaN
std                                  NaN
min                                  NaN
25%                                  NaN
50%                                  NaN
75%                                  NaN
max                                  NaN

From this we know that very little of our data is numerical, given it looks like only one feature has numerical data of any type and it is primarily null values.

Since it is not primarily numerical data, we want to know what type of data it is.

In [16]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Columns: 123 entries, Timestamp to  [York Peppermint Patties] Ignore
dtypes: datetime64[ns](1), float64(1), object(121)
memory usage: 1.2+ MB

From this we learn that the data is primarily type object.

I next want to know if there is any missing data.

In [17]:
missing_data_b = dfb.isnull().sum()
missing_data_b

Timestamp                                                                                                                                       0
Are you going actually going trick or treating yourself?                                                                                        0
Your gender:                                                                                                                                    9
How old are you?                                                                                                                               33
Which country do you live in?                                                                                                                  21
                                                                                                                                             ...
Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]                              85
Which day do you prefer, Friday or Sunday?                                                                                                     24
Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?      45
When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).                        37
 [York Peppermint Patties] Ignore                                                                                                            1259
Length: 123, dtype: int64

From this we can find that there are 100 features with missing data.

Ultimately what we now know about the Boing Boing Candy Data is that there are 71 features and 814 observations and that it might have a bit of a missing data issue. This will force us to consider how we should deal with the missing data. Additionally, given the sheer number of features we might want to reduce these. My initial thought is to focus primarily on the candy types, finding peoples reactions to the different types of candy.

In general, the dataframe's headers and features seem to be understandable and the data values are standardized.

#### My Decision

Ultimately, I want to work with the Boing Boing Candy Data set and the attendance dataset because the issues found in these datasets are primarily cosmetic with few actual issues with the dataset. For the Candy data, the issues seem to primarily be too many irrelevant features and potentially fake inputs (an issue with crowdsourced write-in data), meanwhile the attendance data seems to have primarily formatting issues.

## Dataset Preparation 1 (Attendance)

My first move is to copy our attendance dataset to a new variable, as this will allow me to edit it without making permanent changes.

In [18]:
qc_dfa = dfa

Now that we have copied our dataset, we want to know all the unique values for the first feature.

In [19]:
qc_dfa['Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08'].unique()

array([nan, 1, '   United States ........', 'Alabama .................',
       'Alaska ..................', 'Arizona .................',
       'Arkansas ................', 'California ..............',
       'Colorado ................', 'Connecticut .............',
       'Delaware ................', 'District of Columbia ....',
       'Florida .................', 'Georgia .................',
       'Hawaii ..................', 'Idaho ...................',
       'Illinois ................', 'Indiana .................',
       'Iowa ....................', 'Kansas ..................',
       'Kentucky ................', 'Louisiana ...............',
       'Maine ...................', 'Maryland ................',
       'Massachusetts ...........', 'Michigan ................',
       'Minnesota ...............', 'Mississippi .............',
       'Missouri ................', 'Montana .................',
       'Nebraska ................', 'Nevada ..................',
       'New Hampshire ...........', 'New Jersey ..............',
       'New Mexico ..............', 'New York ................',
       'North Carolina ..........', 'North Dakota ............',
       'Ohio ....................', 'Oklahoma ................',
       'Oregon ..................', 'Pennsylvania ............',
       'Rhode Island ............', 'South Carolina ..........',
       'South Dakota ............', 'Tennessee ...............',
       'Texas ...................', 'Utah ....................',
       'Vermont .................', 'Virginia ................',
       'Washington ..............', 'West Virginia ...........',
       'Wisconsin ...............', 'Wyoming .................',
       '†Not applicable.',
       '‡Reporting standards not met (too few cases).  ',
       'NOTE: Averages reflect data reported by schools rather than state requirements. School-reported length of day may exceed state requirements, and there is a range of statistical error in reported estimates. Standard errors appear in parentheses. ',
       'SOURCE: U.S. Department of Education, National Center for Education Statistics, Schools and Staffing Survey (SASS), "Public School Questionnaire," 2003-04 and 2007-08. (This table was prepared June 2011.)'],
      dtype=object)

From the output of the unique function, we can find out that our first row consists of each of the 50 states in addition to the District of Columbia and The United States as a whole. We want to save these values while getting rid of the null values including the dataset information at the bottom and top of the dataset.

In [20]:
qc_dfa.dropna(inplace = True)

This code simply deletes all rows that consist of null values. This is why we copied our dataset. Ultimately I chose to drop all null values because the null values dropped only included extra information and did not delete any data on the 50 states, the United States, or the District of Columbia, which are the rows I want to examine. Given this, deleting all other data cleans up the dataset while not hurting the data we need and love.

In [21]:
qc_dfa['Table 43. Average daily attendance (ADA) as a percentage of total enrollment, school day length, and school year length in public schools, by school level and state: 2007-08'].unique()

array(['   United States ........', 'Alabama .................',
       'Alaska ..................', 'Arizona .................',
       'Arkansas ................', 'California ..............',
       'Colorado ................', 'Connecticut .............',
       'Delaware ................', 'District of Columbia ....',
       'Florida .................', 'Georgia .................',
       'Hawaii ..................', 'Idaho ...................',
       'Illinois ................', 'Indiana .................',
       'Iowa ....................', 'Kansas ..................',
       'Kentucky ................', 'Louisiana ...............',
       'Maine ...................', 'Maryland ................',
       'Massachusetts ...........', 'Michigan ................',
       'Minnesota ...............', 'Mississippi .............',
       'Missouri ................', 'Montana .................',
       'Nebraska ................', 'Nevada ..................',
       'New Hampshire ...........', 'New Jersey ..............',
       'New Mexico ..............', 'New York ................',
       'North Carolina ..........', 'North Dakota ............',
       'Ohio ....................', 'Oklahoma ................',
       'Oregon ..................', 'Pennsylvania ............',
       'Rhode Island ............', 'South Carolina ..........',
       'South Dakota ............', 'Tennessee ...............',
       'Texas ...................', 'Utah ....................',
       'Vermont .................', 'Virginia ................',
       'Washington ..............', 'West Virginia ...........',
       'Wisconsin ...............', 'Wyoming .................'],
      dtype=object)

Here we check to make sure we deleted all of the rows we did not want, while keeping the rows we do want. Since this is true, we can continue to clean.

Our next step is to create new features.

In [22]:
new_features = ['State','ADA (Combined)','delete1','Average Hours in School Day (Combined)','delete2','Average Days in School Year (Combined)', 'delete3','Average Hours in School Year (Combined)','delete4','ADA (Elementary)','delete5','Average Hours in School Day (Elementary)','delete6','ADA (Secondary)','delete7','Average Hours in School Day (Secondary)','delete8']

First we create a new list of all our new feature names, since some of our columns do not have headers, we will mark them with delete so we know to delete them later. I made this decision because ultimately if we do not know what the data is, it serves us no purpose and it would be counter-productive to make assumptions. By simply marking them for deletion and then later deleting them, I am left with only the data I know.

In [23]:
df_b = pd.read_excel("attendance.xls", #name of csv file
                 header=3,         #which indexed row in the file is the last header row this means rows 0..3 are headers
                 names=new_features, #use the new_labels list for the column names. Notice there are no blanks
                 index_col='State')  # use the last_name column as our index

We read in the attendance file again but this time with our new headers and our index being the State name. By setting the index to be the State name, we are allowing the user to A) more easily understand the data is for each state, and B) allow them to search by state name more easily for the data attached to that state.

In [24]:
df_b.dropna(inplace = True)

We again want to drop all unnecessary data and all null values, but this time with our index being the state name and our headers being our new headers.

In [25]:
df_b

,ADA (Combined),delete1,Average Hours in School Day (Combined),delete2,Average Days in School Year (Combined),delete3,Average Hours in School Year (Combined),delete4,ADA (Elementary),delete5,Average Hours in School Day (Elementary),delete6,ADA (Secondary),delete7,Average Hours in School Day (Secondary),delete8
State,,,,,,,,,,,,,,,,
United States ........,93.078962,0.218555,6.64470,0.017650,180.0,0.142993,1192.6472,3.0859,94.004983,0.269369,6.656056,0.015998,91.1181,0.432223,6.59439,0.040308
Alabama .................,93.812371,1.237261,7.02852,0.065621,180.0,0.755110,1266.6205,12.3343,93.776375,1.839154,7.038473,0.075944,94.561,0.37928,7.13724,0.17312
Alaska ..................,89.917597,1.215976,6.47688,0.049882,180.0,3.427735,1162.9084,22.8639,91.281537,1.563482,6.486785,0.053082,93.2409,1.57371,6.24087,0.145993
Arizona .................,89.036961,2.952601,6.43369,0.091917,181.0,1.678664,1159.1144,14.4327,88.904393,3.905033,6.443155,0.102053,88.9797,3.22058,6.36909,0.248824
Arkansas ................,91.827111,1.352924,6.88542,0.061468,179.0,0.201577,1228.8881,10.6821,92.093201,2.091651,6.932160,0.076546,90.812,2.23155,6.76751,0.095928
California ..............,93.241017,0.711649,6.24064,0.066364,181.0,0.439441,1128.7694,12.5276,94.931421,0.753808,6.289745,0.051471,89.3609,1.44673,6.14262,0.202711
Colorado ................,93.887162,0.440366,7.00761,0.051954,171.0,1.047398,1199.2969,9.9247,94.535267,0.447224,6.960578,0.066373,91.2429,1.28132,7.00875,0.105105
Connecticut .............,87.925871,2.984395,6.46655,0.087829,181.0,0.137733,1173.0770,15.9229,87.372240,3.977535,6.469634,0.111509,93.7472,0.68057,6.46219,0.091594
Delaware ................,89.770581,1.754942,6.67801,0.089584,181.0,0.831973,1208.2303,18.6503,89.363391,2.502472,6.766382,0.060578,‡,(†),6.54407,0.225909
District of Columbia ....,91.220829,1.269699,6.91375,0.214259,181.0,0.437943,1255.9567,42.2610,93.931297,0.378824,6.916508,0.096940,‡,(†),‡,(†)
Florida .................,92.678174,0.741328,6.42749,0.084127,184.0,1.200181,1183.5712,18.8174,93.962499,0.935657,6.463525,0.054990,89.9067,1.42964,6.31701,0.377265
Georgia .................,93.266158,1.278376,6.79186,0.058118,181.0,1.038880,1229.2059,12.4409,93.871971,1.600244,6.818553,0.060145,93.0693,1.22527,6.87159,0.089014
Hawaii ..................,90.721279,4.577376,6.25758,0.097959,179.0,1.573022,1118.1579,12.7243,90.822238,2.634171,6.217248,0.048280,‡,(†),‡,(†)
Idaho ...................,92.373340,2.269361,6.63155,0.085639,173.0,2.580303,1142.5146,12.9977,91.986537,3.704115,6.593079,0.126844,92.5208,1.54277,6.66775,0.109899
Illinois ................,93.970461,0.706806,6.50051,0.053929,177.0,0.297876,1147.2934,9.6335,95.338551,0.501835,6.491613,0.060825,89.9831,2.45349,6.49655,0.128404
Indiana .................,95.674644,0.510953,6.77208,0.062664,180.0,0.293324,1221.8401,11.4011,95.882424,0.608187,6.710154,0.067023,95.0476,0.742807,6.96317,0.089091
Iowa ....................,94.760592,0.645329,6.85364,0.088878,180.0,0.198761,1232.1636,16.2713,96.285859,0.464240,6.892526,0.073588,90.4463,2.32932,6.64382,0.297336
Kansas ..................,95.350826,0.518303,6.98152,0.073274,178.0,0.633207,1240.0659,14.6755,95.897011,0.532599,6.984776,0.092847,94.6401,0.352401,7.00631,0.069329
Kentucky ................,93.068117,1.893770,6.68771,0.058200,180.0,1.074857,1201.7665,11.8224,93.950285,2.555089,6.707083,0.079091,91.4904,2.87798,6.70971,0.089078
Louisiana ...............,90.349523,2.310309,7.07677,0.077571,178.0,0.962000,1262.8637,14.9237,91.549757,3.190268,6.951457,0.104969,88.0394,1.81895,7.26485,0.116807
Maine ...................,90.303632,2.409541,6.47134,0.064845,176.0,0.225253,1138.8027,11.1675,90.325384,3.175706,6.545149,0.078724,89.5276,1.58029,6.23848,0.143481
Maryland ................,94.103682,0.439791,6.58861,0.072328,180.0,0.362775,1187.9629,13.8137,95.258734,0.372772,6.652030,0.055013,90.1805,1.19629,6.39479,0.317211
Massachusetts ...........,94.596304,0.579249,6.45064,0.051428,180.0,0.068994,1162.6780,9.3420,95.870020,0.281920,6.397192,0.058120,89.6125,2.66497,6.61977,0.103123
Michigan ................,92.968459,1.011628,6.56221,0.076225,178.0,0.903239,1168.2051,13.2329,94.528839,1.119723,6.705792,0.066873,88.7778,2.06342,6.21481,0.204946
Minnesota ...............,93.146022,0.908900,6.28035,0.121614,176.0,1.417200,1101.8596,19.7642,94.781404,1.220212,6.508219,0.063133,93.2378,0.818993,6.30476,0.128575
Mississippi .............,92.091106,1.996271,6.99492,0.122474,181.0,0.194161,1264.5671,22.4842,95.055789,0.334469,7.062053,0.070032,92.91,0.762194,6.81782,0.370673
Missouri ................,94.823437,0.260989,6.69850,0.052192,177.0,0.987228,1184.2128,11.2796,95.645352,0.319035,6.770900,0.075069,92.7646,0.53806,6.51251,0.109776
Montana .................,91.325266,1.394940,6.78815,0.054423,179.0,0.345266,1217.9983,10.3412,92.124666,1.857466,6.731135,0.076765,95.2573,0.659121,6.75698,0.087259
Nebraska ................,94.944186,1.214149,6.92428,0.080869,178.0,0.727576,1229.4223,14.1710,95.513922,1.959975,6.856092,0.077880,95.2374,0.367354,6.71184,0.43694
Nevada ..................,93.515077,1.274028,6.30472,0.056042,180.0,0.178129,1134.6414,10.1345,93.219824,1.724913,6.309128,0.059300,94.8405,0.736088,6.26562,0.14256
New Hampshire ...........,92.207444,1.754847,6.54072,0.063014,180.0,0.048457,1178.1801,11.2351,92.545109,2.120287,6.474104,0.035447,90.3873,3.28455,6.80513,0.113535
New Jersey ..............,94.610399,0.593407,6.44100,0.051120,181.0,0.356345,1167.4856,8.8999,95.518366,0.465409,6.422115,0.061848,91.6625,1.73682,6.52887,0.08978
New Mexico ..............,91.873346,1.764860,6.84617,0.078588,177.0,1.426564,1208.9868,13.2985,92.278780,2.385688,6.745110,0.090996,90.1029,2.11624,7.05618,0.120285
New York ................,92.735377,1.302509,6.58606,0.085583,182.0,0.385996,1201.5685,16.1519,94.448910,0.613896,6.467199,0.122943,90.8198,3.15359,6.94432,0.062449
North Carolina ..........,92.593062,1.728306,6.74883,0.059490,180.0,0.060545,1215.6425,10.7440,93.340686,2.330890,6.739877,0.074855,90.7752,1.77504,6.82943,0.091997
North Dakota ............,95.921212,0.588245,6.58249,0.038108,176.0,0.441778,1161.3908,7.3662,96.527156,0.306219,6.514401,0.040640,92.8834,2.51123,6.76527,0.069815
Ohio ....................,91.780603,2.005199,6.60656,0.096734,180.0,0.319711,1190.5184,18.4531,91.686920,2.766763,6.579457,0.111114,92.8262,1.61815,6.64843,0.213482
Oklahoma ................,92.057487,2.241093,6.62873,0.058455,176.0,0.193334,1166.1491,10.4225,90.804590,3.477207,6.693441,0.049616,93.716,0.656603,6.5126,0.195214
Oregon ..................,94.401409,0.591843,6.56541,0.056808,172.0,1.474504,1130.0288,10.6379,95.031392,0.240592,6.525386,0.051206,92.9188,1.36643,6.5591,0.138652
Pennsylvania ............,94.880593,0.392465,6.42794,0.123120,181.0,0.282291,1162.7027,22.2244,95.364390,0.456340,6.472706,0.090435,94.1435,0.883882,6.35327,0.396725
Rhode Island ............,93.736534,1.267272,6.27171,0.031661,180.0,0.092194,1131.0956,5.6457,94.232211,1.628417,6.241747,0.036296,‡,(†),‡,(†)
South Carolina ..........,94.897206,0.714842,6.92488,0.069953,181.0,0.427131,1251.5353,12.6797,95.767004,0.732163,6.973152,0.048151,91.8761,1.90232,6.78377,0.253193
South Dakota ............,93.640576,2.533928,6.82809,0.079889,173.0,0.854924,1179.9090,10.0969,93.211795,3.779123,6.844293,0.098693,‡,(†),‡,(†)
Tennessee ...............,94.942545,0.227754,7.02813,0.054076,180.0,0.330222,1265.1483,9.8424,95.573729,0.246806,7.035905,0.071533,93.4541,0.788111,7.02342,0.028951
Texas ...................,94.086751,1.335309,7.17318,0.108078,180.0,0.796808,1288.8847,18.8107,95.681851,1.614634,7.169326,0.098598,89.6515,3.43487,7.05743,0.162884
Utah ....................,91.367433,1.557600,6.28167,0.286143,182.0,6.237453,1142.1014,33.3865,93.770010,1.792894,6.532641,0.089300,87.1377,3.4221,5.85581,0.551016
Vermont .................,92.726006,3.392472,6.65638,0.073960,177.0,0.457090,1179.4527,13.5836,93.081166,4.498027,6.716467,0.090426,90.7783,4.08082,6.4075,0.176015
Virginia ................,94.677993,0.460467,6.61718,0.050234,181.0,0.159185,1197.3283,9.1034,95.596850,0.349639,6.611134,0.032699,93.9422,0.5841,6.67654,0.187479
Washington ..............,82.855625,3.056990,6.22202,0.080353,179.0,0.173674,1116.5367,14.4906,81.047004,4.416025,6.378638,0.045202,85.7672,2.75371,5.89289,0.266992
West Virginia ...........,94.009760,0.987722,6.87364,0.070124,182.0,0.497818,1251.2268,13.6853,94.374244,1.315128,6.879590,0.093158,92.846,0.408932,6.82534,0.136584
Wisconsin ...............,94.950856,0.566144,6.91175,0.042731,180.0,0.736128,1246.4809,8.6319,95.375952,0.414753,6.886868,0.048538,93.0196,1.90793,7.01951,0.144539
Wyoming .................,92.353008,1.154487,6.85867,0.045848,175.0,1.278829,1200.9323,8.3266,92.190909,1.647681,6.850612,0.054651,92.3894,0.749597,6.97859,0.0679

Here we have a fairly clean dataset but we can still do more!

In [26]:
df_b.drop(['delete1','delete2','delete3','delete4','delete5','delete6','delete7','delete8'], axis=1, inplace = True)

Since we do not know what those columns are and they have no explanation, I made the decision to delete them since I cannot title them without knowing what they do. Ultimately having data without any knowledge of the data means or  is of, is unhelpful.

In [27]:
df_b

,ADA (Combined),Average Hours in School Day (Combined),Average Days in School Year (Combined),Average Hours in School Year (Combined),ADA (Elementary),Average Hours in School Day (Elementary),ADA (Secondary),Average Hours in School Day (Secondary)
State,,,,,,,,
United States ........,93.078962,6.64470,180.0,1192.6472,94.004983,6.656056,91.1181,6.59439
Alabama .................,93.812371,7.02852,180.0,1266.6205,93.776375,7.038473,94.561,7.13724
Alaska ..................,89.917597,6.47688,180.0,1162.9084,91.281537,6.486785,93.2409,6.24087
Arizona .................,89.036961,6.43369,181.0,1159.1144,88.904393,6.443155,88.9797,6.36909
Arkansas ................,91.827111,6.88542,179.0,1228.8881,92.093201,6.932160,90.812,6.76751
California ..............,93.241017,6.24064,181.0,1128.7694,94.931421,6.289745,89.3609,6.14262
Colorado ................,93.887162,7.00761,171.0,1199.2969,94.535267,6.960578,91.2429,7.00875
Connecticut .............,87.925871,6.46655,181.0,1173.0770,87.372240,6.469634,93.7472,6.46219
Delaware ................,89.770581,6.67801,181.0,1208.2303,89.363391,6.766382,‡,6.54407
District of Columbia ....,91.220829,6.91375,181.0,1255.9567,93.931297,6.916508,‡,‡
Florida .................,92.678174,6.42749,184.0,1183.5712,93.962499,6.463525,89.9067,6.31701
Georgia .................,93.266158,6.79186,181.0,1229.2059,93.871971,6.818553,93.0693,6.87159
Hawaii ..................,90.721279,6.25758,179.0,1118.1579,90.822238,6.217248,‡,‡
Idaho ...................,92.373340,6.63155,173.0,1142.5146,91.986537,6.593079,92.5208,6.66775
Illinois ................,93.970461,6.50051,177.0,1147.2934,95.338551,6.491613,89.9831,6.49655
Indiana .................,95.674644,6.77208,180.0,1221.8401,95.882424,6.710154,95.0476,6.96317
Iowa ....................,94.760592,6.85364,180.0,1232.1636,96.285859,6.892526,90.4463,6.64382
Kansas ..................,95.350826,6.98152,178.0,1240.0659,95.897011,6.984776,94.6401,7.00631
Kentucky ................,93.068117,6.68771,180.0,1201.7665,93.950285,6.707083,91.4904,6.70971
Louisiana ...............,90.349523,7.07677,178.0,1262.8637,91.549757,6.951457,88.0394,7.26485
Maine ...................,90.303632,6.47134,176.0,1138.8027,90.325384,6.545149,89.5276,6.23848
Maryland ................,94.103682,6.58861,180.0,1187.9629,95.258734,6.652030,90.1805,6.39479
Massachusetts ...........,94.596304,6.45064,180.0,1162.6780,95.870020,6.397192,89.6125,6.61977
Michigan ................,92.968459,6.56221,178.0,1168.2051,94.528839,6.705792,88.7778,6.21481
Minnesota ...............,93.146022,6.28035,176.0,1101.8596,94.781404,6.508219,93.2378,6.30476
Mississippi .............,92.091106,6.99492,181.0,1264.5671,95.055789,7.062053,92.91,6.81782
Missouri ................,94.823437,6.69850,177.0,1184.2128,95.645352,6.770900,92.7646,6.51251
Montana .................,91.325266,6.78815,179.0,1217.9983,92.124666,6.731135,95.2573,6.75698
Nebraska ................,94.944186,6.92428,178.0,1229.4223,95.513922,6.856092,95.2374,6.71184
Nevada ..................,93.515077,6.30472,180.0,1134.6414,93.219824,6.309128,94.8405,6.26562
New Hampshire ...........,92.207444,6.54072,180.0,1178.1801,92.545109,6.474104,90.3873,6.80513
New Jersey ..............,94.610399,6.44100,181.0,1167.4856,95.518366,6.422115,91.6625,6.52887
New Mexico ..............,91.873346,6.84617,177.0,1208.9868,92.278780,6.745110,90.1029,7.05618
New York ................,92.735377,6.58606,182.0,1201.5685,94.448910,6.467199,90.8198,6.94432
North Carolina ..........,92.593062,6.74883,180.0,1215.6425,93.340686,6.739877,90.7752,6.82943
North Dakota ............,95.921212,6.58249,176.0,1161.3908,96.527156,6.514401,92.8834,6.76527
Ohio ....................,91.780603,6.60656,180.0,1190.5184,91.686920,6.579457,92.8262,6.64843
Oklahoma ................,92.057487,6.62873,176.0,1166.1491,90.804590,6.693441,93.716,6.5126
Oregon ..................,94.401409,6.56541,172.0,1130.0288,95.031392,6.525386,92.9188,6.5591
Pennsylvania ............,94.880593,6.42794,181.0,1162.7027,95.364390,6.472706,94.1435,6.35327
Rhode Island ............,93.736534,6.27171,180.0,1131.0956,94.232211,6.241747,‡,‡
South Carolina ..........,94.897206,6.92488,181.0,1251.5353,95.767004,6.973152,91.8761,6.78377
South Dakota ............,93.640576,6.82809,173.0,1179.9090,93.211795,6.844293,‡,‡
Tennessee ...............,94.942545,7.02813,180.0,1265.1483,95.573729,7.035905,93.4541,7.02342
Texas ...................,94.086751,7.17318,180.0,1288.8847,95.681851,7.169326,89.6515,7.05743
Utah ....................,91.367433,6.28167,182.0,1142.1014,93.770010,6.532641,87.1377,5.85581
Vermont .................,92.726006,6.65638,177.0,1179.4527,93.081166,6.716467,90.7783,6.4075
Virginia ................,94.677993,6.61718,181.0,1197.3283,95.596850,6.611134,93.9422,6.67654
Washington ..............,82.855625,6.22202,179.0,1116.5367,81.047004,6.378638,85.7672,5.89289
West Virginia ...........,94.009760,6.87364,182.0,1251.2268,94.374244,6.879590,92.846,6.82534
Wisconsin ...............,94.950856,6.91175,180.0,1246.4809,95.375952,6.886868,93.0196,7.01951
Wyoming .................,92.353008,6.85867,175.0,1200.9323,92.190909,6.850612,92.3894,6.97859

Next we want to clean up the State names, since they are currently in an index, we first have to remove them from the index. Creating a new index does this.

In [28]:
df_b = df_b.reset_index()

In [29]:
df_b

,State,ADA (Combined),Average Hours in School Day (Combined),Average Days in School Year (Combined),Average Hours in School Year (Combined),ADA (Elementary),Average Hours in School Day (Elementary),ADA (Secondary),Average Hours in School Day (Secondary)
0,United States ........,93.078962,6.64470,180.0,1192.6472,94.004983,6.656056,91.1181,6.59439
1,Alabama .................,93.812371,7.02852,180.0,1266.6205,93.776375,7.038473,94.561,7.13724
2,Alaska ..................,89.917597,6.47688,180.0,1162.9084,91.281537,6.486785,93.2409,6.24087
3,Arizona .................,89.036961,6.43369,181.0,1159.1144,88.904393,6.443155,88.9797,6.36909
4,Arkansas ................,91.827111,6.88542,179.0,1228.8881,92.093201,6.932160,90.812,6.76751
5,California ..............,93.241017,6.24064,181.0,1128.7694,94.931421,6.289745,89.3609,6.14262
6,Colorado ................,93.887162,7.00761,171.0,1199.2969,94.535267,6.960578,91.2429,7.00875
7,Connecticut .............,87.925871,6.46655,181.0,1173.0770,87.372240,6.469634,93.7472,6.46219
8,Delaware ................,89.770581,6.67801,181.0,1208.2303,89.363391,6.766382,‡,6.54407
9,District of Columbia ....,91.220829,6.91375,181.0,1255.9567,93.931297,6.916508,‡,‡
10,Florida .................,92.678174,6.42749,184.0,1183.5712,93.962499,6.463525,89.9067,6.31701
11,Georgia .................,93.266158,6.79186,181.0,1229.2059,93.871971,6.818553,93.0693,6.87159
12,Hawaii ..................,90.721279,6.25758,179.0,1118.1579,90.822238,6.217248,‡,‡
13,Idaho ...................,92.373340,6.63155,173.0,1142.5146,91.986537,6.593079,92.5208,6.66775
14,Illinois ................,93.970461,6.50051,177.0,1147.2934,95.338551,6.491613,89.9831,6.49655
15,Indiana .................,95.674644,6.77208,180.0,1221.8401,95.882424,6.710154,95.0476,6.96317
16,Iowa ....................,94.760592,6.85364,180.0,1232.1636,96.285859,6.892526,90.4463,6.64382
17,Kansas ..................,95.350826,6.98152,178.0,1240.0659,95.897011,6.984776,94.6401,7.00631
18,Kentucky ................,93.068117,6.68771,180.0,1201.7665,93.950285,6.707083,91.4904,6.70971
19,Louisiana ...............,90.349523,7.07677,178.0,1262.8637,91.549757,6.951457,88.0394,7.26485
20,Maine ...................,90.303632,6.47134,176.0,1138.8027,90.325384,6.545149,89.5276,6.23848
21,Maryland ................,94.103682,6.58861,180.0,1187.9629,95.258734,6.652030,90.1805,6.39479
22,Massachusetts ...........,94.596304,6.45064,180.0,1162.6780,95.870020,6.397192,89.6125,6.61977
23,Michigan ................,92.968459,6.56221,178.0,1168.2051,94.528839,6.705792,88.7778,6.21481
24,Minnesota ...............,93.146022,6.28035,176.0,1101.8596,94.781404,6.508219,93.2378,6.30476
25,Mississippi .............,92.091106,6.99492,181.0,1264.5671,95.055789,7.062053,92.91,6.81782
26,Missouri ................,94.823437,6.69850,177.0,1184.2128,95.645352,6.770900,92.7646,6.51251
27,Montana .................,91.325266,6.78815,179.0,1217.9983,92.124666,6.731135,95.2573,6.75698
28,Nebraska ................,94.944186,6.92428,178.0,1229.4223,95.513922,6.856092,95.2374,6.71184
29,Nevada ..................,93.515077,6.30472,180.0,1134.6414,93.219824,6.309128,94.8405,6.26562
30,New Hampshire ...........,92.207444,6.54072,180.0,1178.1801,92.545109,6.474104,90.3873,6.80513
31,New Jersey ..............,94.610399,6.44100,181.0,1167.4856,95.518366,6.422115,91.6625,6.52887
32,New Mexico ..............,91.873346,6.84617,177.0,1208.9868,92.278780,6.745110,90.1029,7.05618
33,New York ................,92.735377,6.58606,182.0,1201.5685,94.448910,6.467199,90.8198,6.94432
34,North Carolina ..........,92.593062,6.74883,180.0,1215.6425,93.340686,6.739877,90.7752,6.82943
35,North Dakota ............,95.921212,6.58249,176.0,1161.3908,96.527156,6.514401,92.8834,6.76527
36,Ohio ....................,91.780603,6.60656,180.0,1190.5184,91.686920,6.579457,92.8262,6.64843
37,Oklahoma ................,92.057487,6.62873,176.0,1166.1491,90.804590,6.693441,93.716,6.5126
38,Oregon ..................,94.401409,6.56541,172.0,1130.0288,95.031392,6.525386,92.9188,6.5591
39,Pennsylvania ............,94.880593,6.42794,181.0,1162.7027,95.364390,6.472706,94.1435,6.35327
40,Rhode Island ............,93.736534,6.27171,180.0,1131.0956,94.232211,6.241747,‡,‡
41,South Carolina ..........,94.897206,6.92488,181.0,1251.5353,95.767004,6.973152,91.8761,6.78377
42,South Dakota ............,93.640576,6.82809,173.0,1179.9090,93.211795,6.844293,‡,‡
43,Tennessee ...............,94.942545,7.02813,180.0,1265.1483,95.573729,7.035905,93.4541,7.02342
44,Texas ...................,94.086751,7.17318,180.0,1288.8847,95.681851,7.169326,89.6515,7.05743
45,Utah ....................,91.367433,6.28167,182.0,1142.1014,93.770010,6.532641,87.1377,5.85581
46,Vermont .................,92.726006,6.65638,177.0,1179.4527,93.081166,6.716467,90.7783,6.4075
47,Virginia ................,94.677993,6.61718,181.0,1197.3283,95.596850,6.611134,93.9422,6.67654
48,Washington ..............,82.855625,6.22202,179.0,1116.5367,81.047004,6.378638,85.7672,5.89289
49,West Virginia ...........,94.009760,6.87364,182.0,1251.2268,94.374244,6.879590,92.846,6.82534
50,Wisconsin ...............,94.950856,6.91175,180.0,1246.4809,95.375952,6.886868,93.0196,7.01951
51,Wyoming .................,92.353008,6.85867,175.0,1200.9323,92.190909,6.850612,92.3894,6.97859

Then lets get rid of any periods from the State. This will allow people to more easily find the States they need and search for them, without having to guess how many periods are after it.

In [30]:
df_b["State"] = df_b["State"].str.strip('.')

We then want to strip any spaces at the ends of the State names, this way they will be even more searchable.

In [31]:
df_b["State"] = df_b["State"].str.strip()

In [32]:
df_b

,State,ADA (Combined),Average Hours in School Day (Combined),Average Days in School Year (Combined),Average Hours in School Year (Combined),ADA (Elementary),Average Hours in School Day (Elementary),ADA (Secondary),Average Hours in School Day (Secondary)
0,United States,93.078962,6.64470,180.0,1192.6472,94.004983,6.656056,91.1181,6.59439
1,Alabama,93.812371,7.02852,180.0,1266.6205,93.776375,7.038473,94.561,7.13724
2,Alaska,89.917597,6.47688,180.0,1162.9084,91.281537,6.486785,93.2409,6.24087
3,Arizona,89.036961,6.43369,181.0,1159.1144,88.904393,6.443155,88.9797,6.36909
4,Arkansas,91.827111,6.88542,179.0,1228.8881,92.093201,6.932160,90.812,6.76751
5,California,93.241017,6.24064,181.0,1128.7694,94.931421,6.289745,89.3609,6.14262
6,Colorado,93.887162,7.00761,171.0,1199.2969,94.535267,6.960578,91.2429,7.00875
7,Connecticut,87.925871,6.46655,181.0,1173.0770,87.372240,6.469634,93.7472,6.46219
8,Delaware,89.770581,6.67801,181.0,1208.2303,89.363391,6.766382,‡,6.54407
9,District of Columbia,91.220829,6.91375,181.0,1255.9567,93.931297,6.916508,‡,‡
10,Florida,92.678174,6.42749,184.0,1183.5712,93.962499,6.463525,89.9067,6.31701
11,Georgia,93.266158,6.79186,181.0,1229.2059,93.871971,6.818553,93.0693,6.87159
12,Hawaii,90.721279,6.25758,179.0,1118.1579,90.822238,6.217248,‡,‡
13,Idaho,92.373340,6.63155,173.0,1142.5146,91.986537,6.593079,92.5208,6.66775
14,Illinois,93.970461,6.50051,177.0,1147.2934,95.338551,6.491613,89.9831,6.49655
15,Indiana,95.674644,6.77208,180.0,1221.8401,95.882424,6.710154,95.0476,6.96317
16,Iowa,94.760592,6.85364,180.0,1232.1636,96.285859,6.892526,90.4463,6.64382
17,Kansas,95.350826,6.98152,178.0,1240.0659,95.897011,6.984776,94.6401,7.00631
18,Kentucky,93.068117,6.68771,180.0,1201.7665,93.950285,6.707083,91.4904,6.70971
19,Louisiana,90.349523,7.07677,178.0,1262.8637,91.549757,6.951457,88.0394,7.26485
20,Maine,90.303632,6.47134,176.0,1138.8027,90.325384,6.545149,89.5276,6.23848
21,Maryland,94.103682,6.58861,180.0,1187.9629,95.258734,6.652030,90.1805,6.39479
22,Massachusetts,94.596304,6.45064,180.0,1162.6780,95.870020,6.397192,89.6125,6.61977
23,Michigan,92.968459,6.56221,178.0,1168.2051,94.528839,6.705792,88.7778,6.21481
24,Minnesota,93.146022,6.28035,176.0,1101.8596,94.781404,6.508219,93.2378,6.30476
25,Mississippi,92.091106,6.99492,181.0,1264.5671,95.055789,7.062053,92.91,6.81782
26,Missouri,94.823437,6.69850,177.0,1184.2128,95.645352,6.770900,92.7646,6.51251
27,Montana,91.325266,6.78815,179.0,1217.9983,92.124666,6.731135,95.2573,6.75698
28,Nebraska,94.944186,6.92428,178.0,1229.4223,95.513922,6.856092,95.2374,6.71184
29,Nevada,93.515077,6.30472,180.0,1134.6414,93.219824,6.309128,94.8405,6.26562
30,New Hampshire,92.207444,6.54072,180.0,1178.1801,92.545109,6.474104,90.3873,6.80513
31,New Jersey,94.610399,6.44100,181.0,1167.4856,95.518366,6.422115,91.6625,6.52887
32,New Mexico,91.873346,6.84617,177.0,1208.9868,92.278780,6.745110,90.1029,7.05618
33,New York,92.735377,6.58606,182.0,1201.5685,94.448910,6.467199,90.8198,6.94432
34,North Carolina,92.593062,6.74883,180.0,1215.6425,93.340686,6.739877,90.7752,6.82943
35,North Dakota,95.921212,6.58249,176.0,1161.3908,96.527156,6.514401,92.8834,6.76527
36,Ohio,91.780603,6.60656,180.0,1190.5184,91.686920,6.579457,92.8262,6.64843
37,Oklahoma,92.057487,6.62873,176.0,1166.1491,90.804590,6.693441,93.716,6.5126
38,Oregon,94.401409,6.56541,172.0,1130.0288,95.031392,6.525386,92.9188,6.5591
39,Pennsylvania,94.880593,6.42794,181.0,1162.7027,95.364390,6.472706,94.1435,6.35327
40,Rhode Island,93.736534,6.27171,180.0,1131.0956,94.232211,6.241747,‡,‡
41,South Carolina,94.897206,6.92488,181.0,1251.5353,95.767004,6.973152,91.8761,6.78377
42,South Dakota,93.640576,6.82809,173.0,1179.9090,93.211795,6.844293,‡,‡
43,Tennessee,94.942545,7.02813,180.0,1265.1483,95.573729,7.035905,93.4541,7.02342
44,Texas,94.086751,7.17318,180.0,1288.8847,95.681851,7.169326,89.6515,7.05743
45,Utah,91.367433,6.28167,182.0,1142.1014,93.770010,6.532641,87.1377,5.85581
46,Vermont,92.726006,6.65638,177.0,1179.4527,93.081166,6.716467,90.7783,6.4075
47,Virginia,94.677993,6.61718,181.0,1197.3283,95.596850,6.611134,93.9422,6.67654
48,Washington,82.855625,6.22202,179.0,1116.5367,81.047004,6.378638,85.7672,5.89289
49,West Virginia,94.009760,6.87364,182.0,1251.2268,94.374244,6.879590,92.846,6.82534
50,Wisconsin,94.950856,6.91175,180.0,1246.4809,95.375952,6.886868,93.0196,7.01951
51,Wyoming,92.353008,6.85867,175.0,1200.9323,92.190909,6.850612,92.3894,6.97859

Lastly, lets set the index to be equal to the State again. This way people can view the data more easily.

In [33]:
df_b.set_index('State', drop=True, append=False, inplace=True, verify_integrity=False)

In [34]:
df_b

,ADA (Combined),Average Hours in School Day (Combined),Average Days in School Year (Combined),Average Hours in School Year (Combined),ADA (Elementary),Average Hours in School Day (Elementary),ADA (Secondary),Average Hours in School Day (Secondary)
State,,,,,,,,
United States,93.078962,6.64470,180.0,1192.6472,94.004983,6.656056,91.1181,6.59439
Alabama,93.812371,7.02852,180.0,1266.6205,93.776375,7.038473,94.561,7.13724
Alaska,89.917597,6.47688,180.0,1162.9084,91.281537,6.486785,93.2409,6.24087
Arizona,89.036961,6.43369,181.0,1159.1144,88.904393,6.443155,88.9797,6.36909
Arkansas,91.827111,6.88542,179.0,1228.8881,92.093201,6.932160,90.812,6.76751
California,93.241017,6.24064,181.0,1128.7694,94.931421,6.289745,89.3609,6.14262
Colorado,93.887162,7.00761,171.0,1199.2969,94.535267,6.960578,91.2429,7.00875
Connecticut,87.925871,6.46655,181.0,1173.0770,87.372240,6.469634,93.7472,6.46219
Delaware,89.770581,6.67801,181.0,1208.2303,89.363391,6.766382,‡,6.54407
District of Columbia,91.220829,6.91375,181.0,1255.9567,93.931297,6.916508,‡,‡
Florida,92.678174,6.42749,184.0,1183.5712,93.962499,6.463525,89.9067,6.31701
Georgia,93.266158,6.79186,181.0,1229.2059,93.871971,6.818553,93.0693,6.87159
Hawaii,90.721279,6.25758,179.0,1118.1579,90.822238,6.217248,‡,‡
Idaho,92.373340,6.63155,173.0,1142.5146,91.986537,6.593079,92.5208,6.66775
Illinois,93.970461,6.50051,177.0,1147.2934,95.338551,6.491613,89.9831,6.49655
Indiana,95.674644,6.77208,180.0,1221.8401,95.882424,6.710154,95.0476,6.96317
Iowa,94.760592,6.85364,180.0,1232.1636,96.285859,6.892526,90.4463,6.64382
Kansas,95.350826,6.98152,178.0,1240.0659,95.897011,6.984776,94.6401,7.00631
Kentucky,93.068117,6.68771,180.0,1201.7665,93.950285,6.707083,91.4904,6.70971
Louisiana,90.349523,7.07677,178.0,1262.8637,91.549757,6.951457,88.0394,7.26485
Maine,90.303632,6.47134,176.0,1138.8027,90.325384,6.545149,89.5276,6.23848
Maryland,94.103682,6.58861,180.0,1187.9629,95.258734,6.652030,90.1805,6.39479
Massachusetts,94.596304,6.45064,180.0,1162.6780,95.870020,6.397192,89.6125,6.61977
Michigan,92.968459,6.56221,178.0,1168.2051,94.528839,6.705792,88.7778,6.21481
Minnesota,93.146022,6.28035,176.0,1101.8596,94.781404,6.508219,93.2378,6.30476
Mississippi,92.091106,6.99492,181.0,1264.5671,95.055789,7.062053,92.91,6.81782
Missouri,94.823437,6.69850,177.0,1184.2128,95.645352,6.770900,92.7646,6.51251
Montana,91.325266,6.78815,179.0,1217.9983,92.124666,6.731135,95.2573,6.75698
Nebraska,94.944186,6.92428,178.0,1229.4223,95.513922,6.856092,95.2374,6.71184
Nevada,93.515077,6.30472,180.0,1134.6414,93.219824,6.309128,94.8405,6.26562
New Hampshire,92.207444,6.54072,180.0,1178.1801,92.545109,6.474104,90.3873,6.80513
New Jersey,94.610399,6.44100,181.0,1167.4856,95.518366,6.422115,91.6625,6.52887
New Mexico,91.873346,6.84617,177.0,1208.9868,92.278780,6.745110,90.1029,7.05618
New York,92.735377,6.58606,182.0,1201.5685,94.448910,6.467199,90.8198,6.94432
North Carolina,92.593062,6.74883,180.0,1215.6425,93.340686,6.739877,90.7752,6.82943
North Dakota,95.921212,6.58249,176.0,1161.3908,96.527156,6.514401,92.8834,6.76527
Ohio,91.780603,6.60656,180.0,1190.5184,91.686920,6.579457,92.8262,6.64843
Oklahoma,92.057487,6.62873,176.0,1166.1491,90.804590,6.693441,93.716,6.5126
Oregon,94.401409,6.56541,172.0,1130.0288,95.031392,6.525386,92.9188,6.5591
Pennsylvania,94.880593,6.42794,181.0,1162.7027,95.364390,6.472706,94.1435,6.35327
Rhode Island,93.736534,6.27171,180.0,1131.0956,94.232211,6.241747,‡,‡
South Carolina,94.897206,6.92488,181.0,1251.5353,95.767004,6.973152,91.8761,6.78377
South Dakota,93.640576,6.82809,173.0,1179.9090,93.211795,6.844293,‡,‡
Tennessee,94.942545,7.02813,180.0,1265.1483,95.573729,7.035905,93.4541,7.02342
Texas,94.086751,7.17318,180.0,1288.8847,95.681851,7.169326,89.6515,7.05743
Utah,91.367433,6.28167,182.0,1142.1014,93.770010,6.532641,87.1377,5.85581
Vermont,92.726006,6.65638,177.0,1179.4527,93.081166,6.716467,90.7783,6.4075
Virginia,94.677993,6.61718,181.0,1197.3283,95.596850,6.611134,93.9422,6.67654
Washington,82.855625,6.22202,179.0,1116.5367,81.047004,6.378638,85.7672,5.89289
West Virginia,94.009760,6.87364,182.0,1251.2268,94.374244,6.879590,92.846,6.82534
Wisconsin,94.950856,6.91175,180.0,1246.4809,95.375952,6.886868,93.0196,7.01951
Wyoming,92.353008,6.85867,175.0,1200.9323,92.190909,6.850612,92.3894,6.97859

In [70]:
df_b.describe()

,ADA (Combined),Average Hours in School Day (Combined),Average Days in School Year (Combined),Average Hours in School Year (Combined),ADA (Elementary),Average Hours in School Day (Elementary)
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000
mean,92.789499,6.662335,178.942308,1191.895908,93.452196,6.674641
std,2.262451,0.248061,2.689219,45.825210,2.695674,0.233577
min,82.855625,6.222020,171.000000,1101.859600,81.047004,6.217248
25%,91.861787,6.470142,177.750000,1162.356200,92.174348,6.483615
50%,93.112492,6.638125,180.000000,1189.240650,93.983741,6.699616
75%,94.450133,6.862412,181.000000,1228.967550,95.367280,6.861967
max,95.921212,7.173180,184.000000,1288.884700,96.527156,7.169326

Looking at our data set we see it is perfectly clean! We left a few non-numerical values inside the dataset because ultimately these serve to tell a story, one where just by looking at the dataframe you can make assumptions or predictions about certain privileges or restrictions in certain states or areas. Ultimately this is another part of the data and one I believe is important to preserve. Later, if I were to be performing numerical analysis of secondary schools, I would want to replace those non-numerical values with a placeholder numerical value, or separate the columns and remove those states from consideration. But ultimately that is not my decision to make now.

## Dataset Preparation 2 (Boing-Boing Candy)

First lets take another look at our dataset.

In [35]:
dfb.head()

,Timestamp,Are you going actually going trick or treating yourself?,Your gender:,How old are you?,Which country do you live in?,"Which state, province, county do you live in?",[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],...,Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling],Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams],Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé],Please estimate the degree(s) of separation you have from the following celebrities [Bieber],Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon],Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)],"Which day do you prefer, Friday or Sunday?","Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?","When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).",[York Peppermint Patties] Ignore
0,2016-10-24 05:09:23.033,No,Male,22,Canada,Ontario,JOY,DESPAIR,JOY,MEH,...,3 or higher,2,3 or higher,3 or higher,3 or higher,3 or higher,Friday,South to North,Science: Latest News and Headlines,NaN
1,2016-10-24 05:09:54.798,No,Male,45,usa,il,MEH,MEH,JOY,JOY,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,Science: Latest News and Headlines,NaN
2,2016-10-24 05:13:06.734,No,Female,48,US,Colorado,JOY,DESPAIR,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,East to West,Science: Latest News and Headlines,NaN
3,2016-10-24 05:14:17.192,No,Male,57,usa,il,JOY,MEH,JOY,MEH,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Sunday,South to North,Science: Latest News and Headlines,NaN
4,2016-10-24 05:14:24.625,Yes,Male,42,USA,South Dakota,MEH,DESPAIR,JOY,DESPAIR,...,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,3 or higher,Friday,East to West,ESPN,NaN

We again see a bunch of features that do not actually matter if we are looking to find what people think about different types of candies. Let's delete all of the features that we know do not matter. Ultimately we can differentiate between the features that matter and the ones that don't based on their level of relation to our goal: Finding people's opinion on different types of candy. Thus I chose to delete any feature that was not even potentially the name of a candy.

In [36]:
dfb.drop(['Timestamp','Are you going actually going trick or treating yourself?', 'Your gender:', 'How old are you?', 'Which country do you live in?', 'Which state, province, county do you live in?', 'Please list any items not included above that give you DESPAIR.', 'Please list any items not included above that give you JOY.', 'Please leave any witty, snarky or thoughtful remarks or comments regarding your choices.', 'Guess the number of mints in my hand.', 'Betty or Veronica?', '"That dress* that went viral a few years back - when I first saw it, it was ________"',  'What is your favourite font?', 'Please estimate the degree(s) of separation you have from the following celebrities [JK Rowling]',  'Please estimate the degree(s) of separation you have from the following celebrities [JJ Abrams]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Beyoncé]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Bieber]',
 'Please estimate the degree(s) of separation you have from the following celebrities [Kevin Bacon]',  'Please estimate the degree(s) of separation you have from the following celebrities [Francis Bacon (1561 - 1626)]',
 'Which day do you prefer, Friday or Sunday?',  'Do you eat apples the correct way, East to West (side to side) or do you eat them like a freak of nature, South to North (bottom to top)?',
 'When you see the above image of the 4 different websites, which one would you most likely check out (please be honest).',
 ' [York Peppermint Patties] Ignore'], axis=1, inplace = True)

Now lets print our new features to see what we have now.

In [37]:
print(dfb.columns.values)

[' [100 Grand Bar]'
 ' [Anonymous brown globs that come in black and orange wrappers]'
 ' [Any full-sized candy bar]' ' [Black Jacks]' ' [Bonkers (the candy)]'
 ' [Bonkers (the board game)]' ' [Bottle Caps]' " [Box'o'Raisins]"
 ' [Broken glow stick]' ' [Butterfinger]' ' [Cadbury Creme Eggs]'
 ' [Candy Corn]'
 ' [Candy that is clearly just the stuff given out for free at restaurants]'
 ' [Caramellos]' ' [Cash, or other forms of legal tender]' ' [Chardonnay]'
 ' [Chick-o-Sticks (we don’t know what that is)]' ' [Chiclets]'
 ' [Coffee Crisp]' ' [Creepy Religious comics/Chick Tracts]'
 ' [Dental paraphenalia]' ' [Dots]' ' [Dove Bars]' ' [Fuzzy Peaches]'
 ' [Generic Brand Acetaminophen]' ' [Glow sticks]' ' [Goo Goo Clusters]'
 " [Good N' Plenty]" ' [Gum from baseball cards]'
 ' [Gummy Bears straight up]' ' [Hard Candy]' ' [Healthy Fruit]'
 ' [Heath Bar]' " [Hershey's Dark Chocolate]"
 ' [Hershey’s Milk Chocolate]' " [Hershey's Kisses]"
 ' [Hugs (actual physical hugs)]' ' [Jolly Rancher (bad flavor)]'
 ' [Jolly Ranchers (good flavor)]' ' [JoyJoy (Mit Iodine!)]'
 ' [Junior Mints]' ' [Senior Mints]' ' [Kale smoothie]'
 ' [Kinder Happy Hippo]' ' [Kit Kat]' ' [LaffyTaffy]' ' [LemonHeads]'
 ' [Licorice (not black)]' ' [Licorice (yes black)]' ' [Lindt Truffle]'
 ' [Lollipops]' ' [Mars]' ' [Mary Janes]' ' [Maynards]' ' [Mike and Ike]'
 ' [Milk Duds]' ' [Milky Way]' ' [Regular M&Ms]' ' [Peanut M&M’s]'
 " [Blue M&M's]" " [Red M&M's]" " [Third Party M&M's]"
 ' [Minibags of chips]' ' [Mint Kisses]' ' [Mint Juleps]' ' [Mr. Goodbar]'
 ' [Necco Wafers]' ' [Nerds]' ' [Nestle Crunch]' " [Now'n'Laters]"
 ' [Peeps]' ' [Pencils]'
 ' [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]'
 ' [Pixy Stix]' ' [Reese’s Peanut Butter Cups]' " [Reese's Pieces]"
 ' [Reggie Jackson Bar]' ' [Rolos]' ' [Skittles]' ' [Smarties (American)]'
 ' [Smarties (Commonwealth)]' ' [Snickers]'
 ' [Sourpatch Kids (i.e. abominations of nature)]' ' [Spotted Dick]'
 ' [Starburst]' ' [Sweet Tarts]' ' [Swedish Fish]'
 ' [Sweetums (a friend to diabetes)]' ' [Tic Tacs]'
 ' [Those odd marshmallow circus peanut things]' ' [Three Musketeers]'
 ' [Tolberone something or other]' ' [Trail Mix]' ' [Twix]'
 ' [Vials of pure high fructose corn syrup, for main-lining into your vein]'
 ' [Vicodin]' ' [Whatchamacallit Bars]' ' [White Bread]'
 ' [Whole Wheat anything]' ' [York Peppermint Patties]']

Looking at this, we now have several candies that are obviously jokes. Let's delete those.

In [38]:
dfb.drop([' [Anonymous brown globs that come in black and orange wrappers]', ' [Any full-sized candy bar]', ' [Bonkers (the board game)]',' [Broken glow stick]', ' [Candy that is clearly just the stuff given out for free at restaurants]', ' [Cash, or other forms of legal tender]', ' [Chardonnay]', ' [Chick-o-Sticks (we don’t know what that is)]',' [Creepy Religious comics/Chick Tracts]',' [Dental paraphenalia]',' [Generic Brand Acetaminophen]',' [Glow sticks]', ' [Gum from baseball cards]', ' [Hugs (actual physical hugs)]',' [JoyJoy (Mit Iodine!)]',' [Senior Mints]',' [Kale smoothie]',' [Minibags of chips]',' [Mint Juleps]',' [Pencils]',' [Person of Interest Season 3 DVD Box Set (not including Disc 4 with hilarious outtakes)]',' [Spotted Dick]', ' [Sweetums (a friend to diabetes)]',' [Those odd marshmallow circus peanut things]',' [Vials of pure high fructose corn syrup, for main-lining into your vein]',' [Vicodin]',' [Whatchamacallit Bars]',' [White Bread]',' [Whole Wheat anything]'],axis=1, inplace = True)

My methodology for determining which were jokes was to simply google the name, if it came up as a type of candy, I did not drop it. Ultimately we want to drop any fake types of candy because these are not candies and ultiamtely what we are trying to find is people's reactions to different types of candies. I chose not to delete types of fruit, because growing up with parents who were against candy, I know that fruit is nature's candy.

Lets print our dataframe again with our updates.

In [39]:
dfb

,[100 Grand Bar],[Black Jacks],[Bonkers (the candy)],[Bottle Caps],[Box'o'Raisins],[Butterfinger],[Cadbury Creme Eggs],[Candy Corn],[Caramellos],[Chiclets],...,[Sourpatch Kids (i.e. abominations of nature)],[Starburst],[Sweet Tarts],[Swedish Fish],[Tic Tacs],[Three Musketeers],[Tolberone something or other],[Trail Mix],[Twix],[York Peppermint Patties]
0,JOY,MEH,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
1,MEH,JOY,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,JOY,JOY,MEH,JOY,JOY
2,JOY,MEH,MEH,JOY,DESPAIR,JOY,MEH,MEH,JOY,DESPAIR,...,MEH,MEH,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
3,JOY,MEH,MEH,DESPAIR,MEH,JOY,JOY,JOY,JOY,DESPAIR,...,MEH,JOY,JOY,JOY,DESPAIR,JOY,JOY,JOY,JOY,JOY
4,MEH,DESPAIR,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,MEH,DESPAIR,...,MEH,MEH,MEH,DESPAIR,MEH,JOY,JOY,MEH,JOY,MEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,JOY,MEH,MEH,NaN,DESPAIR,JOY,MEH,MEH,MEH,DESPAIR,...,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,MEH,JOY,DESPAIR,JOY,MEH
1255,JOY,DESPAIR,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,DESPAIR,...,MEH,MEH,JOY,DESPAIR,DESPAIR,JOY,JOY,MEH,JOY,MEH
1256,JOY,NaN,DESPAIR,MEH,DESPAIR,JOY,JOY,JOY,JOY,DESPAIR,...,DESPAIR,MEH,MEH,MEH,DESPAIR,MEH,JOY,MEH,JOY,MEH
1257,NaN,DESPAIR,MEH,MEH,DESPAIR,JOY,MEH,DESPAIR,MEH,JOY,...,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH,MEH,JOY,DESPAIR,JOY,DESPAIR
1258,JOY,JOY,MEH,JOY,MEH,JOY,JOY,JOY,JOY,JOY,...,MEH,MEH,MEH,JOY,MEH,JOY,JOY,MEH,JOY,JOY

In [40]:
print(dfb.columns.values)

[' [100 Grand Bar]' ' [Black Jacks]' ' [Bonkers (the candy)]'
 ' [Bottle Caps]' " [Box'o'Raisins]" ' [Butterfinger]'
 ' [Cadbury Creme Eggs]' ' [Candy Corn]' ' [Caramellos]' ' [Chiclets]'
 ' [Coffee Crisp]' ' [Dots]' ' [Dove Bars]' ' [Fuzzy Peaches]'
 ' [Goo Goo Clusters]' " [Good N' Plenty]" ' [Gummy Bears straight up]'
 ' [Hard Candy]' ' [Healthy Fruit]' ' [Heath Bar]'
 " [Hershey's Dark Chocolate]" ' [Hershey’s Milk Chocolate]'
 " [Hershey's Kisses]" ' [Jolly Rancher (bad flavor)]'
 ' [Jolly Ranchers (good flavor)]' ' [Junior Mints]'
 ' [Kinder Happy Hippo]' ' [Kit Kat]' ' [LaffyTaffy]' ' [LemonHeads]'
 ' [Licorice (not black)]' ' [Licorice (yes black)]' ' [Lindt Truffle]'
 ' [Lollipops]' ' [Mars]' ' [Mary Janes]' ' [Maynards]' ' [Mike and Ike]'
 ' [Milk Duds]' ' [Milky Way]' ' [Regular M&Ms]' ' [Peanut M&M’s]'
 " [Blue M&M's]" " [Red M&M's]" " [Third Party M&M's]" ' [Mint Kisses]'
 ' [Mr. Goodbar]' ' [Necco Wafers]' ' [Nerds]' ' [Nestle Crunch]'
 " [Now'n'Laters]" ' [Peeps]' ' [Pixy Stix]'
 ' [Reese’s Peanut Butter Cups]' " [Reese's Pieces]"
 ' [Reggie Jackson Bar]' ' [Rolos]' ' [Skittles]' ' [Smarties (American)]'
 ' [Smarties (Commonwealth)]' ' [Snickers]'
 ' [Sourpatch Kids (i.e. abominations of nature)]' ' [Starburst]'
 ' [Sweet Tarts]' ' [Swedish Fish]' ' [Tic Tacs]' ' [Three Musketeers]'
 ' [Tolberone something or other]' ' [Trail Mix]' ' [Twix]'
 ' [York Peppermint Patties]']

Looking at our features, we still have many more features than needed, lets try to simplify. This will be a multi-step process.

First we want to add a whole new index. So we can edit the names of the candy bars. To do this, we first want to transpose the dataframe and store it in a new dataframe.

In [41]:
dfb_t = dfb.T
dfb_t = dfb_t.reset_index()

Lets display this new dataframe as to confirm it did what we wanted it to do.

In [42]:
dfb_t

,index,0,1,2,3,4,5,6,7,8,...,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258
0,[100 Grand Bar],JOY,MEH,JOY,JOY,MEH,JOY,DESPAIR,MEH,MEH,...,MEH,JOY,JOY,JOY,MEH,JOY,JOY,JOY,NaN,JOY
1,[Black Jacks],MEH,JOY,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,DESPAIR,...,JOY,MEH,MEH,MEH,DESPAIR,MEH,DESPAIR,NaN,DESPAIR,JOY
2,[Bonkers (the candy)],MEH,DESPAIR,MEH,MEH,MEH,MEH,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,MEH,MEH,MEH,DESPAIR,MEH,MEH,DESPAIR,MEH,MEH
3,[Bottle Caps],MEH,JOY,JOY,DESPAIR,MEH,JOY,MEH,DESPAIR,MEH,...,DESPAIR,MEH,MEH,JOY,MEH,NaN,MEH,MEH,MEH,JOY
4,[Box'o'Raisins],DESPAIR,DESPAIR,DESPAIR,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH,...,DESPAIR,DESPAIR,MEH,MEH,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,[Three Musketeers],JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,MEH,JOY,JOY,JOY,JOY,MEH,JOY,MEH,MEH,JOY
67,[Tolberone something or other],JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,MEH,JOY,JOY,MEH,MEH,JOY,JOY,JOY,JOY,JOY
68,[Trail Mix],DESPAIR,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,MEH,MEH,JOY,MEH,JOY,DESPAIR,MEH,MEH,DESPAIR,MEH
69,[Twix],JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY
70,[York Peppermint Patties],JOY,JOY,JOY,JOY,MEH,JOY,JOY,JOY,JOY,...,MEH,MEH,JOY,JOY,JOY,MEH,MEH,MEH,DESPAIR,JOY

Next we want to start changing the ones that are obviously errors, repeats, or have grammatical or formatting issures.

In [43]:
dfb_t['index'].unique()

array([' [100 Grand Bar]', ' [Black Jacks]', ' [Bonkers (the candy)]',
       ' [Bottle Caps]', " [Box'o'Raisins]", ' [Butterfinger]',
       ' [Cadbury Creme Eggs]', ' [Candy Corn]', ' [Caramellos]',
       ' [Chiclets]', ' [Coffee Crisp]', ' [Dots]', ' [Dove Bars]',
       ' [Fuzzy Peaches]', ' [Goo Goo Clusters]', " [Good N' Plenty]",
       ' [Gummy Bears straight up]', ' [Hard Candy]', ' [Healthy Fruit]',
       ' [Heath Bar]', " [Hershey's Dark Chocolate]",
       ' [Hershey’s Milk Chocolate]', " [Hershey's Kisses]",
       ' [Jolly Rancher (bad flavor)]', ' [Jolly Ranchers (good flavor)]',
       ' [Junior Mints]', ' [Kinder Happy Hippo]', ' [Kit Kat]',
       ' [LaffyTaffy]', ' [LemonHeads]', ' [Licorice (not black)]',
       ' [Licorice (yes black)]', ' [Lindt Truffle]', ' [Lollipops]',
       ' [Mars]', ' [Mary Janes]', ' [Maynards]', ' [Mike and Ike]',
       ' [Milk Duds]', ' [Milky Way]', ' [Regular M&Ms]',
       ' [Peanut M&M’s]', " [Blue M&M's]", " [Red M&M's]",
       " [Third Party M&M's]", ' [Mint Kisses]', ' [Mr. Goodbar]',
       ' [Necco Wafers]', ' [Nerds]', ' [Nestle Crunch]',
       " [Now'n'Laters]", ' [Peeps]', ' [Pixy Stix]',
       ' [Reese’s Peanut Butter Cups]', " [Reese's Pieces]",
       ' [Reggie Jackson Bar]', ' [Rolos]', ' [Skittles]',
       ' [Smarties (American)]', ' [Smarties (Commonwealth)]',
       ' [Snickers]', ' [Sourpatch Kids (i.e. abominations of nature)]',
       ' [Starburst]', ' [Sweet Tarts]', ' [Swedish Fish]', ' [Tic Tacs]',
       ' [Three Musketeers]', ' [Tolberone something or other]',
       ' [Trail Mix]', ' [Twix]', ' [York Peppermint Patties]'],
      dtype=object)

First lets get rid of any extra spaces. This will allow it to be more easily searched and displayed since viewers will not have to guess how many spaces are after each feature.

In [44]:
dfb_t["index"] = dfb_t["index"].str.strip()

Then lets take care of renaming Candy.

In [46]:
dfb_t["index"] = dfb_t["index"].str.replace('Gummy Bears straight up','Gummy Bears')

I am choosing to rename "Gummy Bears Straight Up" to just "Gummy Bears" given "straight up" means by themselves, and gummy bears are naturally by themselves.

In [47]:
dfb_t['index'].unique()

array(['[100 Grand Bar]', '[Black Jacks]', '[Bonkers (the candy)]',
       '[Bottle Caps]', "[Box'o'Raisins]", '[Butterfinger]',
       '[Cadbury Creme Eggs]', '[Candy Corn]', '[Caramellos]',
       '[Chiclets]', '[Coffee Crisp]', '[Dots]', '[Dove Bars]',
       '[Peaches]', '[Goo Goo Clusters]', "[Good N' Plenty]",
       '[Gummy Bears]', '[Hard Candy]', '[Healthy Fruit]', '[Heath Bar]',
       "[Hershey's Dark Chocolate]", '[Hershey’s Milk Chocolate]',
       "[Hershey's Kisses]", '[Jolly Rancher (bad flavor)]',
       '[Jolly Ranchers (good flavor)]', '[Junior Mints]',
       '[Kinder Happy Hippo]', '[Kit Kat]', '[LaffyTaffy]',
       '[LemonHeads]', '[Licorice (not black)]', '[Licorice (yes black)]',
       '[Lindt Truffle]', '[Lollipops]', '[Mars]', '[Mary Janes]',
       '[Maynards]', '[Mike and Ike]', '[Milk Duds]', '[Milky Way]',
       '[Regular M&Ms]', '[Peanut M&M’s]', "[Blue M&M's]", "[Red M&M's]",
       "[Third Party M&M's]", '[Mint Kisses]', '[Mr. Goodbar]',
       '[Necco Wafers]', '[Nerds]', '[Nestle Crunch]', "[Now'n'Laters]",
       '[Peeps]', '[Pixy Stix]', '[Reese’s Peanut Butter Cups]',
       "[Reese's Pieces]", '[Reggie Jackson Bar]', '[Rolos]',
       '[Skittles]', '[Smarties (American)]', '[Smarties (Commonwealth)]',
       '[Snickers]', '[Sourpatch Kids (i.e. abominations of nature)]',
       '[Starburst]', '[Sweet Tarts]', '[Swedish Fish]', '[Tic Tacs]',
       '[Three Musketeers]', '[Tolberone something or other]',
       '[Trail Mix]', '[Twix]', '[York Peppermint Patties]'], dtype=object)

In [48]:
dfb_t.loc[dfb_t['index'].str.contains('Jolly Rancher'), 'index'] = 'Jolly Ranchers'

Given Jolly Ranchers is a type of candy, I am grouping all types of Jolly Ranchers into one Jolly Rancher Feature.

In [49]:
dfb_t['index'].unique()

array(['[100 Grand Bar]', '[Black Jacks]', '[Bonkers (the candy)]',
       '[Bottle Caps]', "[Box'o'Raisins]", '[Butterfinger]',
       '[Cadbury Creme Eggs]', '[Candy Corn]', '[Caramellos]',
       '[Chiclets]', '[Coffee Crisp]', '[Dots]', '[Dove Bars]',
       '[Peaches]', '[Goo Goo Clusters]', "[Good N' Plenty]",
       '[Gummy Bears]', '[Hard Candy]', '[Healthy Fruit]', '[Heath Bar]',
       "[Hershey's Dark Chocolate]", '[Hershey’s Milk Chocolate]',
       "[Hershey's Kisses]", 'Jolly Ranchers', '[Junior Mints]',
       '[Kinder Happy Hippo]', '[Kit Kat]', '[LaffyTaffy]',
       '[LemonHeads]', '[Licorice (not black)]', '[Licorice (yes black)]',
       '[Lindt Truffle]', '[Lollipops]', '[Mars]', '[Mary Janes]',
       '[Maynards]', '[Mike and Ike]', '[Milk Duds]', '[Milky Way]',
       '[Regular M&Ms]', '[Peanut M&M’s]', "[Blue M&M's]", "[Red M&M's]",
       "[Third Party M&M's]", '[Mint Kisses]', '[Mr. Goodbar]',
       '[Necco Wafers]', '[Nerds]', '[Nestle Crunch]', "[Now'n'Laters]",
       '[Peeps]', '[Pixy Stix]', '[Reese’s Peanut Butter Cups]',
       "[Reese's Pieces]", '[Reggie Jackson Bar]', '[Rolos]',
       '[Skittles]', '[Smarties (American)]', '[Smarties (Commonwealth)]',
       '[Snickers]', '[Sourpatch Kids (i.e. abominations of nature)]',
       '[Starburst]', '[Sweet Tarts]', '[Swedish Fish]', '[Tic Tacs]',
       '[Three Musketeers]', '[Tolberone something or other]',
       '[Trail Mix]', '[Twix]', '[York Peppermint Patties]'], dtype=object)

In [50]:
dfb_t.loc[dfb_t['index'].str.contains('Licorice'), 'index'] = 'Licorice'

I am grouping types of licorice together as well given the similarities between the two types of licorice mentioned.

In [51]:
dfb_t.loc[dfb_t['index'].str.contains('M&M'), 'index'] = 'M&Ms'

I am doing a similar thing with M&M's, lumping them together and considering all types of M&Ms as one variables.

In [52]:
dfb_t['index'].unique()

array(['[100 Grand Bar]', '[Black Jacks]', '[Bonkers (the candy)]',
       '[Bottle Caps]', "[Box'o'Raisins]", '[Butterfinger]',
       '[Cadbury Creme Eggs]', '[Candy Corn]', '[Caramellos]',
       '[Chiclets]', '[Coffee Crisp]', '[Dots]', '[Dove Bars]',
       '[Peaches]', '[Goo Goo Clusters]', "[Good N' Plenty]",
       '[Gummy Bears]', '[Hard Candy]', '[Healthy Fruit]', '[Heath Bar]',
       "[Hershey's Dark Chocolate]", '[Hershey’s Milk Chocolate]',
       "[Hershey's Kisses]", 'Jolly Ranchers', '[Junior Mints]',
       '[Kinder Happy Hippo]', '[Kit Kat]', '[LaffyTaffy]',
       '[LemonHeads]', 'Licorice', '[Lindt Truffle]', '[Lollipops]',
       '[Mars]', '[Mary Janes]', '[Maynards]', '[Mike and Ike]',
       '[Milk Duds]', '[Milky Way]', 'M&Ms', '[Mint Kisses]',
       '[Mr. Goodbar]', '[Necco Wafers]', '[Nerds]', '[Nestle Crunch]',
       "[Now'n'Laters]", '[Peeps]', '[Pixy Stix]',
       '[Reese’s Peanut Butter Cups]', "[Reese's Pieces]",
       '[Reggie Jackson Bar]', '[Rolos]', '[Skittles]',
       '[Smarties (American)]', '[Smarties (Commonwealth)]', '[Snickers]',
       '[Sourpatch Kids (i.e. abominations of nature)]', '[Starburst]',
       '[Sweet Tarts]', '[Swedish Fish]', '[Tic Tacs]',
       '[Three Musketeers]', '[Tolberone something or other]',
       '[Trail Mix]', '[Twix]', '[York Peppermint Patties]'], dtype=object)

In [53]:
dfb_t.loc[dfb_t['index'].str.contains('Kisses'), 'index'] = 'Hersheys Kisses'

Given the similarities between candies with "kisses" in them, I am lumping them together and considering them as one candy.

In [54]:
dfb_t.loc[dfb_t['index'].str.contains('Reese'), 'index'] = 'Reeses'

Given all Reese's candies are peanut filled chocolate candies, I am grouping them together as well.

In [55]:
dfb_t['index'].unique()

array(['[100 Grand Bar]', '[Black Jacks]', '[Bonkers (the candy)]',
       '[Bottle Caps]', "[Box'o'Raisins]", '[Butterfinger]',
       '[Cadbury Creme Eggs]', '[Candy Corn]', '[Caramellos]',
       '[Chiclets]', '[Coffee Crisp]', '[Dots]', '[Dove Bars]',
       '[Peaches]', '[Goo Goo Clusters]', "[Good N' Plenty]",
       '[Gummy Bears]', '[Hard Candy]', '[Healthy Fruit]', '[Heath Bar]',
       "[Hershey's Dark Chocolate]", '[Hershey’s Milk Chocolate]',
       'Hersheys Kisses', 'Jolly Ranchers', '[Junior Mints]',
       '[Kinder Happy Hippo]', '[Kit Kat]', '[LaffyTaffy]',
       '[LemonHeads]', 'Licorice', '[Lindt Truffle]', '[Lollipops]',
       '[Mars]', '[Mary Janes]', '[Maynards]', '[Mike and Ike]',
       '[Milk Duds]', '[Milky Way]', 'M&Ms', '[Mr. Goodbar]',
       '[Necco Wafers]', '[Nerds]', '[Nestle Crunch]', "[Now'n'Laters]",
       '[Peeps]', '[Pixy Stix]', 'Reeses', '[Reggie Jackson Bar]',
       '[Rolos]', '[Skittles]', '[Smarties (American)]',
       '[Smarties (Commonwealth)]', '[Snickers]',
       '[Sourpatch Kids (i.e. abominations of nature)]', '[Starburst]',
       '[Sweet Tarts]', '[Swedish Fish]', '[Tic Tacs]',
       '[Three Musketeers]', '[Tolberone something or other]',
       '[Trail Mix]', '[Twix]', '[York Peppermint Patties]'], dtype=object)

In [56]:
dfb_t.loc[dfb_t['index'].str.contains('Smarties'), 'index'] = 'Smarties'

Given all Smarties are the same with little variation between American Smarties and Commonwealth Smarties, I am lumping them together as simply Smarties.

In [57]:
dfb_t.loc[dfb_t['index'].str.contains('Sourpatch'), 'index'] = 'Sourpatch Kids'

I am doing a similar thing with Sourpatch Kids, given all of their candies are simply both sour and sweet, lumping them together as one candy, the playing field between candies is even.

In [58]:
dfb_t.loc[dfb_t['index'].str.contains('Tolberone'), 'index'] = 'Toblerone'

Here I am simply fixing a misspelling of the candy, Toblerone. This allows for anyone new to the data to better find it. I am also reducing it from the exaggerated form shown above.

In [59]:
dfb_t.loc[dfb_t['index'].str.contains('Bonkers'), 'index'] = 'Bonkers'

"(The candy)" is irrelevant given we are only discussing candy in this dataset, and thus we are shortening the value for Bonkers to just "Bonkers"

While lumping types of candy together ultimately reduces the specificity of our dataset, it allows us to make more general statements that would allow us to more accurately make extrapolations.

Getting rid of the brackets around our feature names.

In [60]:
dfb_t["index"] = dfb_t["index"].str.strip('[')
dfb_t["index"] = dfb_t["index"].str.strip(']')

In [61]:
dfb_t['index'].unique()

array(['100 Grand Bar', 'Black Jacks', 'Bonkers', 'Bottle Caps',
       "Box'o'Raisins", 'Butterfinger', 'Cadbury Creme Eggs',
       'Candy Corn', 'Caramellos', 'Chiclets', 'Coffee Crisp', 'Dots',
       'Dove Bars', 'Peaches', 'Goo Goo Clusters', "Good N' Plenty",
       'Gummy Bears', 'Hard Candy', 'Healthy Fruit', 'Heath Bar',
       "Hershey's Dark Chocolate", 'Hershey’s Milk Chocolate',
       'Hersheys Kisses', 'Jolly Ranchers', 'Junior Mints',
       'Kinder Happy Hippo', 'Kit Kat', 'LaffyTaffy', 'LemonHeads',
       'Licorice', 'Lindt Truffle', 'Lollipops', 'Mars', 'Mary Janes',
       'Maynards', 'Mike and Ike', 'Milk Duds', 'Milky Way', 'M&Ms',
       'Mr. Goodbar', 'Necco Wafers', 'Nerds', 'Nestle Crunch',
       "Now'n'Laters", 'Peeps', 'Pixy Stix', 'Reeses',
       'Reggie Jackson Bar', 'Rolos', 'Skittles', 'Smarties', 'Snickers',
       'Sourpatch Kids', 'Starburst', 'Sweet Tarts', 'Swedish Fish',
       'Tic Tacs', 'Three Musketeers', 'Toblerone', 'Trail Mix', 'Twix',
       'York Peppermint Patties'], dtype=object)

In [62]:
dfb_t

,index,0,1,2,3,4,5,6,7,8,...,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258
0,100 Grand Bar,JOY,MEH,JOY,JOY,MEH,JOY,DESPAIR,MEH,MEH,...,MEH,JOY,JOY,JOY,MEH,JOY,JOY,JOY,NaN,JOY
1,Black Jacks,MEH,JOY,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,DESPAIR,...,JOY,MEH,MEH,MEH,DESPAIR,MEH,DESPAIR,NaN,DESPAIR,JOY
2,Bonkers,MEH,DESPAIR,MEH,MEH,MEH,MEH,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,MEH,MEH,MEH,DESPAIR,MEH,MEH,DESPAIR,MEH,MEH
3,Bottle Caps,MEH,JOY,JOY,DESPAIR,MEH,JOY,MEH,DESPAIR,MEH,...,DESPAIR,MEH,MEH,JOY,MEH,NaN,MEH,MEH,MEH,JOY
4,Box'o'Raisins,DESPAIR,DESPAIR,DESPAIR,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH,...,DESPAIR,DESPAIR,MEH,MEH,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,Three Musketeers,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,MEH,JOY,JOY,JOY,JOY,MEH,JOY,MEH,MEH,JOY
67,Toblerone,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,MEH,JOY,JOY,MEH,MEH,JOY,JOY,JOY,JOY,JOY
68,Trail Mix,DESPAIR,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,MEH,MEH,JOY,MEH,JOY,DESPAIR,MEH,MEH,DESPAIR,MEH
69,Twix,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,...,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY
70,York Peppermint Patties,JOY,JOY,JOY,JOY,MEH,JOY,JOY,JOY,JOY,...,MEH,MEH,JOY,JOY,JOY,MEH,MEH,MEH,DESPAIR,JOY

Deleting our temporary index to put the dataframe back to a transposed version of the original format.

In [63]:
dfb_t.set_index('index', drop=True, append=False, inplace=True, verify_integrity=False)

In [64]:
dfb_t

,0,1,2,3,4,5,6,7,8,9,...,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258
index,,,,,,,,,,,,,,,,,,,,,
100 Grand Bar,JOY,MEH,JOY,JOY,MEH,JOY,DESPAIR,MEH,MEH,DESPAIR,...,MEH,JOY,JOY,JOY,MEH,JOY,JOY,JOY,NaN,JOY
Black Jacks,MEH,JOY,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,JOY,MEH,MEH,MEH,DESPAIR,MEH,DESPAIR,NaN,DESPAIR,JOY
Bonkers,MEH,DESPAIR,MEH,MEH,MEH,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,MEH,MEH,MEH,DESPAIR,MEH,MEH,DESPAIR,MEH,MEH
Bottle Caps,MEH,JOY,JOY,DESPAIR,MEH,JOY,MEH,DESPAIR,MEH,MEH,...,DESPAIR,MEH,MEH,JOY,MEH,NaN,MEH,MEH,MEH,JOY
Box'o'Raisins,DESPAIR,DESPAIR,DESPAIR,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH,MEH,...,DESPAIR,DESPAIR,MEH,MEH,JOY,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Three Musketeers,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,MEH,...,MEH,JOY,JOY,JOY,JOY,MEH,JOY,MEH,MEH,JOY
Toblerone,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,MEH,...,MEH,JOY,JOY,MEH,MEH,JOY,JOY,JOY,JOY,JOY
Trail Mix,DESPAIR,MEH,DESPAIR,JOY,MEH,DESPAIR,DESPAIR,DESPAIR,DESPAIR,DESPAIR,...,MEH,MEH,JOY,MEH,JOY,DESPAIR,MEH,MEH,DESPAIR,MEH
Twix,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,MEH,...,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY
York Peppermint Patties,JOY,JOY,JOY,JOY,MEH,JOY,JOY,JOY,JOY,JOY,...,MEH,MEH,JOY,JOY,JOY,MEH,MEH,MEH,DESPAIR,JOY

Transposing our dataframe to put it back to where it was.

In [65]:
dfb = dfb_t.T

In [66]:
dfb

index,100 Grand Bar,Black Jacks,Bonkers,Bottle Caps,Box'o'Raisins,Butterfinger,Cadbury Creme Eggs,Candy Corn,Caramellos,Chiclets,...,Sourpatch Kids,Starburst,Sweet Tarts,Swedish Fish,Tic Tacs,Three Musketeers,Toblerone,Trail Mix,Twix,York Peppermint Patties
0,JOY,MEH,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
1,MEH,JOY,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,JOY,JOY,MEH,JOY,JOY
2,JOY,MEH,MEH,JOY,DESPAIR,JOY,MEH,MEH,JOY,DESPAIR,...,MEH,MEH,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
3,JOY,MEH,MEH,DESPAIR,MEH,JOY,JOY,JOY,JOY,DESPAIR,...,MEH,JOY,JOY,JOY,DESPAIR,JOY,JOY,JOY,JOY,JOY
4,MEH,DESPAIR,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,MEH,DESPAIR,...,MEH,MEH,MEH,DESPAIR,MEH,JOY,JOY,MEH,JOY,MEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,JOY,MEH,MEH,NaN,DESPAIR,JOY,MEH,MEH,MEH,DESPAIR,...,DESPAIR,JOY,JOY,DESPAIR,DESPAIR,MEH,JOY,DESPAIR,JOY,MEH
1255,JOY,DESPAIR,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,DESPAIR,...,MEH,MEH,JOY,DESPAIR,DESPAIR,JOY,JOY,MEH,JOY,MEH
1256,JOY,NaN,DESPAIR,MEH,DESPAIR,JOY,JOY,JOY,JOY,DESPAIR,...,DESPAIR,MEH,MEH,MEH,DESPAIR,MEH,JOY,MEH,JOY,MEH
1257,NaN,DESPAIR,MEH,MEH,DESPAIR,JOY,MEH,DESPAIR,MEH,JOY,...,DESPAIR,DESPAIR,DESPAIR,DESPAIR,MEH,MEH,JOY,DESPAIR,JOY,DESPAIR
1258,JOY,JOY,MEH,JOY,MEH,JOY,JOY,JOY,JOY,JOY,...,MEH,MEH,MEH,JOY,MEH,JOY,JOY,MEH,JOY,JOY

Deleting all null values, I chose to do this because of the large number of entries, losing a few made sense given they were unable to fully answer the survey and thus a skew would be created in the data based on an uneven amount of responses. By deleting all entries with null values, I am ridding the data of this skew. Ultimately this best serves my goal of being able to compare all candies equally.

In [67]:
dfb.dropna(inplace = True)

In [68]:
dfb

index,100 Grand Bar,Black Jacks,Bonkers,Bottle Caps,Box'o'Raisins,Butterfinger,Cadbury Creme Eggs,Candy Corn,Caramellos,Chiclets,...,Sourpatch Kids,Starburst,Sweet Tarts,Swedish Fish,Tic Tacs,Three Musketeers,Toblerone,Trail Mix,Twix,York Peppermint Patties
0,JOY,MEH,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,JOY,MEH,...,JOY,JOY,JOY,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
1,MEH,JOY,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,DESPAIR,...,DESPAIR,JOY,DESPAIR,JOY,DESPAIR,JOY,JOY,MEH,JOY,JOY
2,JOY,MEH,MEH,JOY,DESPAIR,JOY,MEH,MEH,JOY,DESPAIR,...,MEH,MEH,MEH,JOY,DESPAIR,JOY,JOY,DESPAIR,JOY,JOY
3,JOY,MEH,MEH,DESPAIR,MEH,JOY,JOY,JOY,JOY,DESPAIR,...,MEH,JOY,JOY,JOY,DESPAIR,JOY,JOY,JOY,JOY,JOY
4,MEH,DESPAIR,MEH,MEH,DESPAIR,JOY,JOY,DESPAIR,MEH,DESPAIR,...,MEH,MEH,MEH,DESPAIR,MEH,JOY,JOY,MEH,JOY,MEH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1251,JOY,MEH,MEH,MEH,MEH,JOY,JOY,MEH,JOY,MEH,...,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY,JOY
1252,JOY,MEH,MEH,JOY,MEH,JOY,MEH,MEH,MEH,JOY,...,MEH,MEH,JOY,JOY,JOY,JOY,MEH,MEH,JOY,JOY
1253,MEH,DESPAIR,DESPAIR,MEH,JOY,MEH,JOY,JOY,JOY,JOY,...,DESPAIR,JOY,JOY,JOY,JOY,JOY,MEH,JOY,JOY,JOY
1255,JOY,DESPAIR,MEH,MEH,DESPAIR,MEH,DESPAIR,DESPAIR,MEH,DESPAIR,...,MEH,MEH,JOY,DESPAIR,DESPAIR,JOY,JOY,MEH,JOY,MEH
1258,JOY,JOY,MEH,JOY,MEH,JOY,JOY,JOY,JOY,JOY,...,MEH,MEH,MEH,JOY,MEH,JOY,JOY,MEH,JOY,JOY

## Conclusion

   Originally I was under the impression that all three of the datasets were equally messy, just in different ways. I ultimately chose the datasets I felt were most interesting and decided to clean those. I think that they seemed really messy at first but as I actually started working on them I realized that we have the tools and knowledge to clean them, it just might be annoying. I think that data cleaning in general is not that difficult, it just takes a while and is not necessarily the most enjoyable of times. The most annoying part of the datacleaning process was the desire to analyze the data that just stayed with me for the entire lab process--I kept having to tell myself to not analyze because then I would stop cleaning. 
   In the end, I feel like both of my datasets are actually really clean, not only are all null values out of the datasets, but the datasets are formatted in a way that is resourceful for data analysis.

##### Attendance Data

The Attendance Data came with primarily formatting issues and rows that served no purpose to the dataset. It additionally came with bad feature names and a poorly planned index. However, I do not think this was a very messy dataset given much of the mess was simply cosmetic.

Looking at my cleaned version of the Attendance Data, I am very impressed with my finished product, not only are the headers cleaned up (a vast improvement from the original version), but I have also added a new more sensible index with easily searchable values and a dataset that includes no null values and primarily numerical data that can be used for calculations and statistical analysis. I took this dataset from something that was difficult to understand, and a dataset that few in my class wanted to clean given the confusing formatting, to something that looks like the datasets we started this class analyzing. It would be very easy to take this new cleaned dataset and perform stastical analysis on it using the tools I have learned in this class.

##### Boing Boing Candy Data

Boing Boing Candy Data was much more messy than the Attendance Data, it ultimately had the issue of having too many features. This posed a big problem when you were forced to consider what were features you should keep and what features you should not keep. Additional problems were with null values, its tough because you have to decide whether you want to completely disregard a civilian's input for a null value or find a way around that.

My Boing Boing Candy Dataset was more difficult for me to clean, given there was this constant voice in the back of my head wanting me to analyze it and write a bunch of analytical code. Fortunately, however, I believe my final product is a very clean Boing Boing Candy dataset. My goal for this dataset was to have easily readable data on what people's reactions were to different types of candy--this new dataset shows these reactions very clearly and I  even deleted columns that did not have anything to do with my objective for the dataset. Ultimately it would not be difficult to find the candy with the most positive or negative reactions--a vast improvement over the uncleaned Boing Boing Candy Data.

## Acknowledgements

Many thanks to Navya Mangipudi and Ms. Sconyers for their much appreciated help. Additional thanks to Ms. Sconyers for providing me with code and data. Additional thanks to Scott for providing me with much needed emotional encouragement. Additional thanks to pandas.pydata.org for much coding help when it came to dataframe commands for replace and contains and indexes. Additional thanks to StackOverflow for providing help when it came to deleting null values in addition to other basic commands. Additional thanks to Ziah Daily for her encoding help and to Navya Mangipudi for code on listing column names.